.skills-circle{
    .circle-box {
        @include circle-pattern;

        .circle {
        @include circle-shape;
        width: 35px;
        height: 35px;
        background-color: #EDEEFF;
        }
    }
    .left{
        position: absolute;
        z-index: 0;
        top: 195%;
        left:-90px;
        
    }
    .right{
        position: absolute;
        z-index: 0;
        top: 152%;
        right:-105px;
    }
    @media screen and (max-width: 770px) {
        .left{
            position: absolute;
            top: 220%;
            left:-12%;
             .circle {
                width: 25px;
                height: 25px;
            }
            
        }
        .right{
            display: none;
        }
        
    }
    @media screen and (max-width: 430px) {
        .left{
            display: none;
            
        }
        .right{
          display: none;
        }
        
    }
}