.difference{
    background: url('../images/difference.png'),linear-gradient(to top, rgba(12, 12, 13, 1),rgba(12, 12, 13, 2),rgba(12, 12, 13, 1)) no-repeat;
    .content{
        padding:200px;
        .topic{
            font-family: "Roboto";
            text-transform: uppercase;
            color:white;
            width:fit-content;
            font-size: 64px;
            font-weight: 700;
        }
        span{
            background: linear-gradient(to right, #00FFD1, #00F1E3,#00D8FA);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        p{
            color:white;
        }
        .description{
            font-family: "Roboto";
            color:white;
            width:fit-content;
            font-size: 28px;
            font-weight: 600;
        }
    }
    @media screen and (max-width: 500px){
        .content{
            padding:100px 20px !important;
            .topic{
                font-size: 34px;
            }
            p{
                font-size: 14px;
            }
            .description{
                font-size: 18px;
            }
        } 
    }
}