.events{
    background: url('../images/intelligence.png'),linear-gradient(to top, rgba(12, 12, 13, 1),rgba(12, 12, 13, 2),rgba(12, 12, 13, 1));
    h1,h2,h3{
        text-transform: uppercase;
        background: linear-gradient(to right, #00FFD1, #00F1E3,#00D8FA);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        width:fit-content;
        font-size: 54px;
        font-weight: 700;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 28px;
    }
    .top{
        color: white;
        font-size:18px;
        font-weight: 400;
        padding:0px 300px;
    }
    p{
        color: white;
        font-size:18px;
        font-weight: 400;
    }
    .top-content{
        img{
            width: 100%;
            object-fit: cover;
            transition: all 0.3s linear;
            &:hover{
                scale: 1.05;
            }
        }
        .date{
            color:white;
        }
        button {
            position: relative;
            background-color: white;
            padding: 10px 8px 10px 22px;
            border: none;
            border-radius: 30px;
            overflow: hidden;
            transition: all 0.3s linear;
            color:black;
            margin:auto;
            p {
                margin: 0;
                position: relative;
                color: black;
                transition: all 0.3s linear;
                z-index:2;
            }
            .signup-arrow {
                position: relative;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s linear;
                i{
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);

                }
            }
        }
        .signup-arrow::before {
            content: '';
            position: absolute;
            right: 18px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            background-color:  #42E26F;
            border-radius: 50%;
            transition: all 0.3s linear;
        }
        /* On hover: grow background to cover button */
        .signup-arrow:hover::before {
            width: 800%;
            height: 700%;
            right: -20%;
        }
    }
    .upcoming{
        .hover-column{
            position: relative;
            max-width:450px;
            max-height:250px;
            overflow:hidden;
            img{
                transition: all 0.5s linear;
            }
            &::before{
                content:"";
                position: absolute;
                background: rgba(0, 15, 36, 0.4);
                opacity:0;
                z-index: 1;
                transition: all 0.5s linear;
                inset:0;
            }
            &:hover::before{
                opacity:1;
                height: auto;
            }
        }
        .hover-content{
            position: absolute;
            width:100%;
            bottom:0;
            scale: 1px;
            transition: all 0.5s linear;
            .title{
                transition: all 0.5s linear;
                justify-content: end;
                font-size: 20px;
                font-weight:600;
            }
            .date{
                opacity:0;
                height:0px;
                transition: all 0.2s linear;
                p,i{
                    font-size: 16px;
                    font-weight: 400;
                }
                i{
                    color:white;
                }
            }
        }
        .hover-column:hover img{
            scale: 1.2;
        }
        .hover-column:hover .hover-content .date{
            opacity: 1;
            height:auto;
        }
        .hover-column:hover .hover-content{
            .title{
                font-size: 22px !important;
            }
            z-index: 3;
            scale: 1.1;
            transform: scale(1) translate(5%,-110%);
        }
    }
    @media screen and (max-width: 500px) {
        h1{
            padding:30px 20px 20px 20px  !important;
            font-size: 34px;
        }
        h2{
            font-size: 25px;
        }
        h3{
            font-size: 20px;
        }
        .top{
            font-size:14px;
            padding:0px 20px;
        }
        p{
            font-size:14px;
        }
        .date i{
            padding: 0px !important;
        }
        .content{
            padding:10px 10px 10px 10px !important;
            width: 100%;
            button {
                width: fit-content;
                padding: 5px 8px 5px 22px;
            }
        }
        .upcoming{
            margin: 0px !important;
            h3{
                padding-left: 20px !important;
            }
            .row{
                padding-top:20px !important;
            }
            .title{
                font-size: 18px;
            }
            .date{
                p,i{
                    font-size: 16px;
                }
            }
            .hover-column{
                margin-bottom: 10px;
            }
        }
    }
}