footer{
    background-color: #0C0C0D;
    color:white;
    .footer-content{
        font-family: "Roboto";
        font-size: 12px;
        font-weight: 400;
    
    }
    i{
        color:white;
       font-size: 20px;
    }
    a:hover{
        i{
            color:#42E26F;
        }
        .first{
            path{
                stroke: #42E26F;
                // fill:#42E26F;
            }
        }
        svg{
            path{
                fill:#42E26F;
            }
        }
    }
    h5{
        font-size: 20px;
        font-weight: 600;
    }
    ul{
        list-style: none;
        li{
            color:#F5F5F5CC;
        }
    }
    @media screen and (max-width: 500px) {
        padding:10px 20px !important;
        text-align: center;
        .footer-content{
            font-size: 12px;
        }
        .icon{
            justify-content: center !important;
            padding-bottom: 45px !important;
        }
        i{
            font-size: 18px;
        }
        .row{
            padding:0px !important;
            margin-bottom: 20px !important;
        }
        .col{
            padding: 0px !important;
        }
         h5{
            font-size: 14px;
        }
        ul{
            font-size: 10px;
        } 
        .member{
            font-size: 12px;
        }
    }
}