.icoe{
    background:linear-gradient(to bottom, rgba(12, 12, 13, 1),rgba(12, 12, 13, 2),rgba(12, 12, 13, 1));
    h2{
        text-transform: uppercase;
        background: linear-gradient(to right, #00FFD1, #00F1E3,#00D8FA);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        width:fit-content;
        font-size: 40px;
        font-weight: 700;
    }
    p{
        color:white;
        font-size:18px;
        font-weight: 400;
    }
    button {
        position: relative;
        background-color: white;
        padding: 12px 14px;
        border: none;
        border-radius: 30px;
        overflow: hidden;
        transition: all 0.3s linear;
        color:black;
        margin:auto;
        p {
            margin: 0;
            position: relative;
            color: black;
            transition: all 0.3s linear;
            z-index:2;
        }
        .signup-arrow {
            position: relative;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s linear;
            i{
                position:absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);

            }
        }
    }
    .signup-arrow::before {
        content: '';
        position: absolute;
        right: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background-color:  #42E26F;
        border-radius: 50%;
        transition: all 0.3s linear;
    }
    /* On hover: grow background to cover button */
    .signup-arrow:hover::before {
        width: 800%;
        height: 700%;
        right: -20%;
    }
    .icoe-img{
        position: relative;
        width: 100%;
        height:400px;
        img{
            width: 100%;
            height:100%;
            object-fit: contain;  
        }
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom,rgba(12, 12, 13, 1), rgba(12, 12, 13, 0), rgba(12, 12, 13, 1));
        }
    }
    @media screen and (max-width: 500px) {
        padding:30px 20px !important;
        .row{
            padding: 0px !important;
            margin: auto !important;
            text-align: center;
        }
        img{
            padding-bottom: 20px !important;
        }
        h2{
            font-size: 34px;
        }
        p{
            font-size:14px;
        }
        .col-data{
            justify-items: center;
            padding-bottom: 30px;
        }
        button {
            padding: 8px 20px;
        } 
        .icoe-img{
            height:200px;
            img{
                width: 100%;
                height:100%;
            }
        } 
    }
}