.intelligence{
    background: url('../images/intelligence.png'),linear-gradient(to top, rgba(12, 12, 13, 1),rgba(12, 12, 13, 0),rgba(12, 12, 13, 1));
    padding-bottom: 200px;
    h1{
        text-transform: uppercase;
        background: linear-gradient(to right, #00FFD1, #00F1E3,#00D8FA);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        width:fit-content;
        font-size: 64px;
        font-weight: 700;
    }
    p{
        color: white;
        font-size:20px;
        font-weight: 400;
    }
    button {
        position: relative;
        background-color: white;
        padding: 12px 24px;
        border: none;
        border-radius: 30px;
        overflow: hidden;
        // z-index: 1;
        transition: all 0.8s linear;
        color:black;
        margin:auto;
        p {
            margin: 0;
            position: relative;
            // z-index: 2;
            color: black;
            transition: all 0.5s linear;
        }
        .signup-arrow {
            position: relative;
            // z-index: 2;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s linear;
        }
    }
     button::before {
        content: '';
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-color:  #42E26F;
        border-radius: 50%;
        // z-index: 1;
        transition: all 0.5s linear;
    }
    /* On hover: grow background to cover button */
    button:hover::before {
        width: 200%;
        height: 200%;
        right: -20%;
    }
    @media screen and (max-width: 430px) {
        .container{
            padding:30px 20px 0px 20px !important;
        }
        h1{
            padding:0px 0px 20px 0px !important;
            font-size: 34px;
        }
        p{
            padding:0px 0px 20px 0px !important;
            font-size: 14px;
        }
        button {
            padding: 5px 15px;
            p{
                padding:3px 0px 0px 0px !important;
            }
            i{
                padding: 0px 2px 0px 0px!important;
            }
        }
    }
}
