.navbar{
    padding:10px 80px;
    // backdrop-filter: blur(20px);
    // background-color: rgba(61, 37, 37, 0.2);
    background: transparent;
    position: sticky;
    z-index: 999;
    ul{
        list-style: none;
    }
    li{
        position: relative;
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 16px;
        i{
            transition:all .2s linear;
        }
    }
    img{
        max-width: 130px;
        max-height:150px;
    }
    .nav-option{
        .sign-in{
            font-weight: 600;
        }
        ul{  
            .level-1{
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                backdrop-filter: blur(59.5px);
                background-color:rgba(185, 185, 185, 0.4);
                border-radius: 10px;
                min-width:300px;
                padding:10px 20px 20px 20px;
            }
            .level-double-1{
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                backdrop-filter: blur(59.5px);
                background-color:rgba(185, 185, 185, 0.4);
                border-radius: 10px;
                min-width:500px;
                padding:5px 10px 10px 10px;
            } 
            .level-2{
                display: none;
                position: absolute;
                top: 0%;
                left: 100%;
                backdrop-filter: blur(59.5px);
                background-color:rgba(195, 195, 195,0.8);
                border-radius: 10px;
                min-width:250px;
                padding:5px 40px 10px 20px;
                a{
                    padding:10px;
                }
            } 
            .smart-section{
                display: none;
                position: absolute;
                top: 100%;
                left: -150%;
                backdrop-filter: blur(59.5px);
                background-color:rgba(185, 185, 185, 0.4);
                border-radius: 10px;
                min-width:300px;
                padding:10px 20px 20px 20px;
            }
        }
    }
    li.hover-1:hover {
        i{
            transform: rotate(180deg);
        }
        .level-1{
            display:block;
        }
    }
    .level-1 li:hover{
        border-radius: 5px;
        background-color: white;
        color:black;
        a{
            color:black;
            scale:1.1;
        }
        .level-2{
            display:block;
        }
    }
    li.hover-double:hover {
        i{
            transform: rotate(180deg);
        }
        .level-double-1{
            display: block;
        }
    }
   .level-double-1 li:hover{
        border-radius: 5px;
        background-color: white;
        color:black;
        a{
            color:black;
            transform:scale(1.1);
        }
    }
    .mobile-nav{
        display: none;
    }
    @media screen and (max-width:500px) {
        padding:10px 20px;
        .nav-option{
            display: none;
        }
        .mobile-nav{
            display: block;
            .menubar{
                padding: 5px;
                i{
                    color:white;
                    font-size: 30px;
                }
            }
            .offcanvas{
                width:100vh;
                background: url('../images/intelligence.png'),linear-gradient(to top, rgba(12, 12, 13, 1),rgba(12, 12, 13, 0),rgba(12, 12, 13, 1));
                backdrop-filter: blur(50px);
                color:white;
            }
            .offcanvas-header{
                button{
                    color:white !important;
                    
                }
            }
            .btn-close {
                filter: invert(1);
            }
            .nav {
                --bs-nav-link-color:grey !important;
                --bs-nav-link-hover-color: grey !important;
            }
            .top-navbar{
                button{
                    color:white !important;
                    border:1px solid white !important;  
                }
                border-block-end: 5px double white   ;
            }
            .bottom-navbar{
                i{
                    padding-top: 5px !important;
                    font: 15px !important;
                }
                .dropdown-menu{
                    background-color:rgba(185, 185, 185, 0.8);
                    backdrop-filter: blur(50px);
                    --bs-dropdown-link-active-bg: white !important;
                    --bs-dropdown-link-active-color:black !important;
                    li{
                        padding-right:10px !important; ;
                    }
                }  
            }
        }
    }
}


