.navbar{
    padding:10px 60px;
    // backdrop-filter: blur(20px);
    background-color: rgba(185, 185, 185, 0.2);
    color:white;
    z-index: 999;
    ul{
        list-style: none;
    }
    li{
        position: relative;
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 16px;
        i{
            transition:all .2s linear;
        }
     }
    .nav-option{
        .sign-in{
            font-weight: 600;
        }
        ul{  
                .level-1{
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    backdrop-filter: blur(100px);
                    background-color:rgba(185, 185, 185, 0.4);
                    border-radius: 10px;
                    min-width:250px;
                }
                .level-double-1{
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    backdrop-filter: blur(59.5px);
                    background-color:rgba(185, 185, 185, 0.4);
                    border-radius: 10px;
                    min-width:500px;
                }  
            }
    }
    li.hover-1:hover {
        i{
            transform: rotate(180deg);
        }
        .level-1{
            display:block;
        }
    }
    li.hover-double:hover {
        i{
            transform: rotate(180deg);
        }
        .level-double-1{
            display: block;
        }
       
    }

}


