.recognized{
    background-color:hsl(240, 4%, 5%) ;
    padding:100px 140px 120px 140px;
    h2{
        background: linear-gradient(to right, #00FFD1, #00F1E3,#00D8FA);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        width:fit-content;
        font-size: 44px;
        font-weight: 700;
    }
    p{
        color: white;
        font-size:20px;
        font-weight: 400;
    }
    // .row{
    //     gap:10px;
    // }
    @media screen and (max-width: 500px) {
        padding:50px 20px !important;
        .row{
            gap:0px !important;
        }
        h2{
            padding:20px 0px !important;
            text-align: center;
            font-size: 34px;
        }
        p{
            font-size:14px;
        }
        img{
            width: 100% !important;
        }
    }
}