.scroller{
    padding:10px 60px;
    backdrop-filter: blur(15px);
    background-color: rgba(245, 245, 245, 0.1);
    .spotlight{
        width:fit-content;
        text-transform: uppercase;
        border-radius: 30px;
        background: linear-gradient(to right, #00FFD1, #00F1E3,#00D8FA);
    }
    p{
        font-size: 20px;
        color: white;
    }
    .linear{
        background: linear-gradient(to right, #00FFD1, #00F1E3,#00D8FA);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        width:fit-content;
    }
   /* Slider container */
    .slider {
    width: 100vw;
    overflow: hidden;
    position: relative;
    }

    /* Slides container: 4 slides (2 original + 2 duplicates) */
    .slides {
    display: flex;
    width: 100vw; /* 4 slides * 100vw */
    animation: scroll 28s linear infinite;
    }

    /* Individual slides */
    .slide {
    width: 100vw;
    height: 45px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    }
    /* Continuous sliding animation */
    @keyframes scroll {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-200vw); } /* move 2 slides (200vw) to the left */
    }
    @media screen and (max-width: 500px) {
        height: fit-content;
        padding:10px 20px;
        .spotlight{
            padding:5px !important;
            border-radius: 20px;
        }
        p{
            font-size: 12px;
        }
        .slide{
            padding:5px !important;
            height:10px;
            svg{
                width:12px;
                height:12px;
                padding:1px !important
            }
        }
        .scoller-content{
            gap:0 !important;
        }
    }
}