.smart{
   background: url('../images/smart.png'),linear-gradient(to bottom, rgba(12, 13, 15, 1));
   color:white;
    .topic{
        padding:0px 80px;
        h1{
            text-transform: uppercase;
            background: linear-gradient(to right, #00FFD1, #00F1E3,#00D8FA);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            width:fit-content;
            font-size: 64px;
            font-weight: 700;
        }
        .decription{
            color: white;
            font-size:20px;
            font-weight: 400;
        }
        button {
            position: relative;
            background-color: white;
            padding: 12px 24px;
            border: none;
            border-radius: 30px;
            overflow: hidden;
            // z-index: 1;
            transition: all 0.8s linear;
            color:black;
            margin:auto;
            p {
                margin: 0;
                position: relative;
                // z-index: 2;
                color: black;
                transition: all 0.5s linear;
            }
            .signup-arrow {
                position: relative;
                // z-index: 2;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s linear;
            }
        }
        button::before {
            content: '';
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-color:  #42E26F;
            border-radius: 50%;
            // z-index: 1;
            transition: all 0.5s linear;
        }
        /* On hover: grow background to cover button */
        button:hover::before {
            width: 200%;
            height: 200%;
            right: -20%;
        }
    }
    .nav-link {
        color: white;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: black;
        background-color: #42E26F;
    }
    .bars{
        .tabs-bg{
            margin:30px 100px 0px 100px;
            background-color:rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(50px);
            border: 1px solid #B9B9B9;
            border-radius: 10px;
            min-height: 320px;
            .tab-top{
               background-color: #0C0C0D80;
                min-height: 320px;
            }
            .tab-data{
                padding-left:50px;
                h4{
                    font-size: 24px;
                    font-weight: 600;
                    background: linear-gradient(to right, #00FFD1, #00F1E3,#00D8FA);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                }
                button {
                    position: relative;
                    background-color: white;
                    padding: 12px 24px;
                    border: none;
                    border-radius: 30px;
                    overflow: hidden;
                    // z-index: 1;
                    transition: all 0.8s linear;
                    color:black;
                    p {
                        margin: 0;
                        position: relative;
                        // z-index: 2;
                        color: black;
                        transition: all 0.5s linear;
                    }
                    .signup-arrow {
                        position: relative;
                        // z-index: 2;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.5s linear;
                    }
                }
                button::before {
                    content: '';
                    position: absolute;
                    right: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 40px;
                    height: 40px;
                    background-color:  #42E26F;
                    border-radius: 50%;
                    // z-index: 1;
                    transition: all 0.5s linear;
                }
                /* On hover: grow background to cover button */
                button:hover::before {
                    width: 200%;
                    height: 200%;
                    right: -20%;
                }
            }
        }
    }
    .tabs-top{
        margin:auto;
        background-color:rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(50px);
        border: 1px solid #B9B9B9;
        border-radius: 10px;
        width: fit-content;
        h3{
            font-size: 28px;
            font-weight: 600;
        }
    }
}
