.speed{
   background: url('../images/bg4.png'),linear-gradient(to top, rgba(12, 12, 13, 1),rgba(12, 12, 13, 2),rgba(12, 12, 13, 1));
   color:white;
    .topic{
        padding:0px 70px;
        h1{
            text-transform: uppercase;
            background: linear-gradient(to right, #00FFD1, #00F1E3,#00D8FA);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            width:fit-content;
            font-size: 54px;
            font-weight: 700;
        }
        .decription{
            color: white;
            font-size:18px;
            font-weight: 700;
            span{
                font-weight: 400;
            }
        }
        h3{
            font-size: 28;
            font-weight: 600;
        }
    }
    .bottom-text{
        font-size: 18px;
    }
    button {
        position: relative;
        background-color: white;
        padding: 12px 14px;
        border: none;
        border-radius: 30px;
        overflow: hidden;
        transition: all 0.3s linear;
        color:black;
        margin:auto;
        p {
            margin: 0;
            position: relative;
            color: black;
            transition: all 0.3s linear;
            z-index:2;
        }
        .signup-arrow {
            position: relative;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s linear;
            i{
                position:absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);

            }
        }
    }
    .signup-arrow::before {
        content: '';
        position: absolute;
        right: 18px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background-color:  #42E26F;
        border-radius: 50%;
        transition: all 0.3s linear;
    }
    /* On hover: grow background to cover button */
    .signup-arrow:hover::before {
        width: 800%;
        height: 700%;
        right: -20%;
    }
    .content{
        font-family: "Roboto";
        padding:0px 100px;
        h3{
            font-size: 25px;
            font-weight: 600;
        }
        .awareness{
            border-block:1px solid #F5F5F5CC;
            transition: all 0.5s linear;
            .num{
                opacity:1;
                transform: scale(1);
                // transition: all 0.2s linear;
            }
            img{
                opacity: 0;
                height:0px;
                transform: scale(0);
                transition: all 0.5s linear;
            }
            .awareness-content{
                gap:40px;
            }
            .awareness-text{
                opacity:0;
                height: 0px;
                transition: all 0.5s linear;
            }
            .awareness-title{
                transition: all 0.5s linear;
                margin-bottom: 20px;
            }
            i{
                opacity:1;
                transition: all 0.5s linear;
            }
            &:hover{
                background-color: rgba(255, 255, 255, 0.05);
                .num{
                    opacity:0;
                    transform: scale(0);
                    height:0px;
                    width: 0px;
                }
                img{
                    opacity: 1;
                    height:auto;
                    transform: scale(1);
                }
                .awareness-content{
                    gap:0px;
                }
                .awareness-text{
                    opacity:1;
                    height: auto;
                    margin:-40px;
                    transform:translate(4%,-5%);
                }
                .awareness-title{
                    transform:translate(4%,-5%);
                }
                i{
                    opacity:0;
                }
            }
        }
    }
    @media screen and (max-width: 500px){
        padding:20px !important;
        .topic{
            padding:0px !important;
            h1{
                font-size: 34px;
            }
            .decription{
                padding:0px 0px 10px 0px !important;
                font-size:14px;
            }
            h3{
                font-size: 18px;
                margin-bottom: 30px !important;
            }
        }
        button {
            padding: 5px 24px;
        }  
        .content{
            padding:0px 20px !important;
            h3{
                font-size: 18px;
            }
        }
        .awareness{
            flex-wrap: wrap !important;
            &:hover{
                img{
                   width: 100%;
                }
                .division{
                    padding: 10px 5px 10px 5px !important;
                }
            }
        }
    }
}