.tools{
    // background: url('../images/intelligence.png'),linear-gradient(to top, rgba(12, 12, 13, 1),rgba(12, 12, 13, 2),rgba(12, 12, 13, 1));
    background-color:#0C0C0D ;
    .top{
        h1{
            text-transform: uppercase;
            background: linear-gradient(to right, #00FFD1, #00F1E3,#00D8FA);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            width:fit-content;
            font-size: 64px;
            font-weight: 700;
        }
        p{
            color: white;
            font-size:20px;
            font-weight: 400;
            padding:0 250px;
        }
        .cube{
            margin-top: -100px;
        }
        button {
            position: relative;
            background-color: white;
            padding: 12px 24px;
            border: none;
            border-radius: 30px;
            overflow: hidden;
            // z-index: 1;
            transition: all 0.8s linear;
            color:black;
            margin: auto;
            p {
                margin: 0;
                position: relative;
                // z-index: 2;
                color: black;
                transition: all 0.5s linear;
            }
            .signup-arrow {
                position: relative;
                // z-index: 2;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s linear;
            }
        }
        button::before {
            content: '';
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-color:  #42E26F;
            border-radius: 50%;
            // z-index: 1;
            transition: all 0.5s linear;
        }
        /* On hover: grow background to cover button */
        button:hover::before {
            width: 200%;
            height: 200%;
            right: -20%;
        }
    }
    .tools-container {
        padding: 0px 150px;
        color: white;
        .box {
            background-color: rgba(12, 12, 13, 0.5);
            backdrop-filter: blur(50px);
            border: 1px solid #B9B9B9;
            border-radius: 10px;
            padding: 20px 20px 5px 20px;
            min-height: 270px;
            .title {
                font-family: "Roboto";
                font-size: 20px;
                font-weight: 600;
            }
            .description {
                font-family: "Nunito Sans";
                font-size: 14px;
                font-weight: 400;
            }
            button {
                position: relative;
                background-color: white;
                padding: 12px 24px;
                border: none;
                border-radius: 30px;
                overflow: hidden;
                height:0px;
                // z-index: 1;
                transition: all 0.2s linear;
                color:black;
                opacity:0;
                margin:auto;
                p {
                    margin: 0;
                    position: relative;
                    // z-index: 2;
                    color: black;
                    transition: all 0.5s linear;
                }
                .signup-arrow {
                    position: relative;
                    // z-index: 2;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.5s linear;
                }
            }
            button::before {
                content: '';
                position: absolute;
                right: 18px;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                background-color:  #42E26F;
                border-radius: 50%;
                // z-index: 1;
                transition: all 0.5s linear;
            }
            /* On hover: grow background to cover button */
            button:hover::before {
                width: 200%;
                height: 200%;
                right: -20%;
            }
            &:hover {
                background: linear-gradient(to bottom, #10151b, #245d75);
                border: 1px solid rgba(255, 255, 255, 0.3);
                .tool-button {
                    opacity: 1;
                    height:50px;
                }
            }
        }
    }
}