.event {
  background: linear-gradient(
      to bottom,
      rgba(12, 12, 13, 1) 10%,
      rgba(12, 12, 13, 0.5) 20%,
      rgba(12, 12, 13, 0) 80%
    ),
    linear-gradient(to top, rgba(12, 12, 13, 1) 8%, rgba(12, 12, 13, 0) 20%),
    url("/image/Image\ [hidden].png"), rgba(1, 8, 23, 1);
  .content {
    max-width: 986px;
  }
}
.eventContent {
  .eventImg {
    overflow: hidden;
    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      transition: all 0.5s linear;
    }
  }
  .eventDetail {
    padding-inline: 75px;
    padding-block: 40px;
    .eventTitle {
      font-size: 40px;
      font-weight: 700;
      line-height: 110.00000000000001%;
    }
    .eventDescription {
      color: $grey;
    }
  }
}

.eventCard {
  .eventTitle {
    font-size: 28px;
    font-weight: 600;
    padding: 10px 50px;
  }
  .cardList {
    flex: 1;
    min-width: 200px;
    flex-wrap: wrap;
    overflow: hidden;

    .cardItem {
      position: relative;
      .imgBg {
        img {
          width: 430px;
          height: 244px;
          object-fit: cover;
          border: 1px solid rgba(12, 12, 13, 1);
          transition: all 0.7s ease;
        }
      }
      .cardDetail {
        position: absolute;
        bottom: 10px;
        padding: 20px;
        z-index: 3;
        transform: scale(1) translateY(0%);
        transition: all 0.7s linear;
        .cardTopic {
          letter-spacing: 0;
          transition: all 0.7s linear;
        }
        .dateDetail {
          opacity: 0;
          height: 0;
          overflow: hidden;
          // transform: scale(1) translateY(100%);
          transition: all 0.3s linear;
          .date {
            color: rgba(255, 255, 255, 0.8);
            z-index: 3;
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 15, 36, 0.7);
        backdrop-filter: blur (50px);
        transition: all 0.3s linear;
        overflow: hidden;
        opacity: 0;
      }
      &:hover::after {
        opacity: 1;
      }
    }
  }
}
.imgBg {
  position: relative;
  overflow: hidden;
  width: 100%;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
}
.eventCard .cardList .cardItem:hover {
  .imgBg img {
    transform: scale(1.1);
  }
  .cardDetail {
    background: none;
    padding: 20px !important;
    transform: translate(0%, -100%);
    .cardTopic {
      font-size: 24px !important;
      transform: scale(1.02);
      padding-bottom: 10px;
    }
    .dateDetail {
      opacity: 1;
      height: auto;
    }
  }
}
.eventImg :hover {
  transform: scale(1.05);
}

@media screen and (max-width: 900px) {
  .event {
    padding-block: 20px !important;
    .content {
      font-size: 16px !important;
      margin: 0px;
      padding-block: 10px !important;
      padding-inline: 20px !important;
    }
  }
  .eventContent {
    padding-block: 0px !important;
    .eventDetail {
      padding-inline: 20px;
      padding-block: 5px;
      display: flex;
      flex-direction: column;
      .eventTitle {
        font-size: 24px;
      }
      .eventDescription {
        font-size: 16px;
      }
    }
  }
  .eventCard {
    .eventTitle {
      font-size: 28px;
      padding: 20px 20px;
      margin-top: 10px;
    }
    .cardList {
      min-width: 200px;
      .cardItem {
        .cardDetail {
          // padding: 20px;
          .cardTopic {
            font-size: 20px !important;
          }
        }
      }
    }
  }
  .eventCard .cardList .cardItem:hover {
    .cardDetail {
      transform: translate(0%, -80%);
      .cardTopic {
        font-size: 22px !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .event {
    padding-block: 10px !important;
    .content {
      font-size: 12px !important;
      padding-block: 0px !important;
    }
  }
  .eventContent {
    .eventDetail {
      padding-block: 20px;
      .eventTitle {
        font-size: 22px;
      }
      .eventDescription {
        font-size: 12px;
      }
    }
  }
  .eventCard {
    .eventTitle {
      font-size: 20px;
      padding: 10px 20px;
    }
    .cardList {
      min-width: 200px;
      .cardItem {
        .cardDetail {
          padding: 20px;
          .cardTopic {
            font-size: 18px !important;
          }
        }
      }
    }
  }
  .eventCard .cardList .cardItem:hover {
    .cardDetail {
      .cardTopic {
        font-size: 20px !important;
      }
    }
  }
}
