.excellence {
  background: rgba(12, 12, 13, 1);
  .title {
    font-size: 40px !important;
  }
}

@media screen and (max-width: 900px) {
  .excellence {
    padding-block: 20px;
    .excellenceContent {
      justify-content: center;
      flex-wrap: wrap;
      .excellenceImg {
        object-fit: cover;
        max-width: 100%;
      }
      .excellenceDetail {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .title {
        font-size: 30px !important;
        text-align: center;
      }
      .content {
        font-size: 16px !important;
        text-align: center;
        padding: 5px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .excellence {
    padding-block: 20px;
    .excellenceContent {
      justify-content: center;
      .title {
        font-size: 26px !important;
      }
      .content {
        font-size: 12px !important;
      }
    }
  }
}
