.footer {
  background: rgba(12, 12, 13, 1);
  border-top: 3px solid rgba(66, 226, 111, 1);
}
.scipDetail {
  font-size: 12px;
}
.footerList {
  line-height: 35px;
  li {
    color: rgba(245, 245, 245, 0.8);
  }
}
.powerBy {
  font-size: 14px;
}
.footerIcon {
  .icon1:hover svg path {
    stroke: $action-color;
    // fill: $action-color;
  }
  .icon1:hover svg .icon1Circle {
    fill: $action-color;
  }
  .iconList:hover svg path {
    // stroke: $action-color;
    fill: $action-color;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    .footerDetail {
      // display: none !important;
      gap: 10px !important;
      .topic {
        font-size: 16px !important;
      }
      ul li {
        font-size: 12px !important;
      }
      .footerList {
        line-height: 20px;
      }
    }
  }
  .scipDetail {
    font-size: 10px;
  }
  .powerBy {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    .footerContent {
      justify-content: center !important;
    }
    .footerDetail {
      // display: none !important;
      // flex-direction: column;
      padding-inline: 10px !important;
      padding-top: 20px !important;
      flex-wrap: wrap;
      gap: 10px !important;
      // justify-content: center;
    }
  }
  .scipDetail {
    font-size: 10px;
  }
  .powerBy {
    font-size: 10px;
  }
}
