.footer {
  background: rgba(12, 12, 13, 1);
}
.scipDetail {
  font-size: 12px;
}
.footerList {
  line-height: 35px;
  li {
    color: rgba(245, 245, 245, 0.8);
  }
}
.powerBy {
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .footer {
    .footerDetail {
      // display: none !important;
      gap: 10px !important;
      .topic {
        font-size: 16px !important;
      }
      ul li {
        font-size: 12px !important;
      }
      .footerList {
        line-height: 20px;
      }
    }
  }
  .scipDetail {
    font-size: 10px;
  }
  .powerBy {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    .footerDetail {
      display: none !important;
    }
  }
  .scipDetail {
    font-size: 10px;
  }
  .powerBy {
    font-size: 10px;
  }
}
