.intelligence {
  background: linear-gradient(
      to top,
      rgba(12, 12, 13, 1),
      rgba(12, 12, 13, 0),
      rgba(12, 12, 13, 1)
    ),
    url("/image/1118394_4k_Mystery_3840x2160\ 1.png") no-repeat,
    rgba(1, 8, 23, 0.3);
  padding-top: 80px;
  padding-bottom: 100px;
  .title {
    font-size: 58px;
    font-weight: 700;
    line-height: 120%;
  }
}
.signIn {
  background-color: $grey-white;
  width: fit-content;
  border-radius: 20px;
  padding-block: 5px;
  padding-inline: 10px;
  button {
    border-radius: 20px;
    i {
      background: $action-color;
      border-radius: 50%;
    }
  }
}
@media screen and (max-width: 900px) {
  .intelligence {
    .content {
      font-size: 16px !important;
    }
  }
}
@media screen and (max-width: 500px) {
  .intelligence {
    .content {
      font-size: 12px !important;
    }
  }
}
