.blur {
  background: rgba(12, 12, 13, 0.1);
  backdrop-filter: blur(15px);
  position: absolute;
  // min-height: 115px;
  width: 100%;
  z-index: -1;
  height: 100% !important;
  top: 0;
  left: 0;
}
.navBar {
  // min-height: 96px;
  position: fixed;
  width: 100%;
  background: rgba(12, 12, 13, 0.1);
  // -webkit-backdrop-filter: blur(20px);
  // backdrop-filter: blur(15px);
  z-index: 999;
  // padding: 10px;
}
.navHeader {
  padding-inline: 80px;
  padding-block: 8px;
}
.nav-1 {
  ul li .nav-link:hover {
    background: $primary-gradient !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    width: fit-content !important;
    z-index: 999;
  }
}
.nav-2 {
  // position: relative;
  // z-index: 999;
  ul li {
    position: relative;
    // z-index: 1;
  }
  ul li .nav-link:hover {
    background: $primary-gradient !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
    width: fit-content !important;
    // color: #00d8fa !important;
    cursor: pointer;
  }
  ul li:hover .smartHover,
  ul li:hover .memberHover,
  ul li:hover .intelliHover,
  ul li:hover .toolHover {
    display: block;
    z-index: 999;
  }
  ul li {
    .arrowDown {
      color: $grey-white;
      display: inline-block;
      transition: transform 0.8s linear;
    }

    &:hover .arrowDown {
      transform: rotate(180deg);
      background: $primary-gradient !important;
      background-clip: text !important;
      -webkit-background-clip: text !important;
      color: transparent !important;
      width: fit-content !important;
    }
  }
}
.smartHover,
.memberHover,
.intelliHover {
  border-radius: 10px;
  min-width: 250px;
  display: none;
  position: absolute;
  z-index: 999;
  background-color: rgba(185, 185, 185, 0.4);
  backdrop-filter: blur(60px);
}
.toolHover {
  min-width: 550px;
  border-radius: 10px;
  display: none;
  position: absolute;
  z-index: 999;
  background-color: rgba(185, 185, 185, 0.4);
  backdrop-filter: blur(60px);
}
.hoverList a,
.intelliHover a,
.memberHover a,
.smartHover a {
  border-radius: 10px;
}
.intelliHover .barca:hover .barcaHover {
  display: block;
}

.hoverList a:hover,
.intelliHover a:hover,
.memberHover a:hover,
.smartHover a:hover {
  background: $grey-white;
  color: $black !important;
  transition: all 0.5s linear;
}
.hoverList a:hover .listTitle,
.intelliHover a:hover .listTitle,
.memberHover a:hover .listTitle,
.smartHover a:hover .listTitle {
  transform: translateX(10px) scaleX(1.1);
  transition: all 0.5s linear;
}
.barcaHover {
  display: none;
}

// .intelliHover .barca:hover .barcaHover {
//   display: block;
// }

.mobileMenu {
  display: none;
  color: $grey-white;
  .dropdown-toggle {
    padding: 8px 16px;
  }
  .dropdown-toggle::after {
    display: none !important;
  }
  .dropdown-menu {
    // border-radius: 10px;
    // // min-width: 250px;
    // // display: none;
    // position: absolute;
    // z-index: 999;
    // padding-inline: 10px !important;
    background-color: rgba(185, 185, 185, 0.8);
    backdrop-filter: blur(60px);
    // position: relative !important;
    // width: 100%;
  }
  a {
    color: $grey-white;
    // text-decoration: underline;
  }
  .offcanvas {
    background: rgba(12, 12, 13, 0.5);
    backdrop-filter: blur(20px);
    .btn-close {
      // color: $grey-white !important;
      // --bs-btn-close-color: #f5f5f5;
      filter: invert(1);
      z-index: 3;
    }
    .btn:hover {
      color: $grey-white;
      background-color: $action-color;
      border-color: none;
    }
    .mobileNav {
      border-top: 3px solid $action-color;
      padding: 10px;
      .toolHovermb,
      .intelliHovermb,
      .memberHovermb,
      .smartHovermb {
        display: none;
      }
      .hoverListmb a:hover,
      .intelliHovermb a:hover,
      .memberHovermb a:hover,
      .smartHovermb a:hover {
        background: $grey-white;
        color: $black !important;
        transition: all 0.5s linear;
      }
      .hoverListmb a,
      .intelliHovermb a,
      .memberHovermb a,
      .smartHovermb a {
        border-radius: 10px;
      }
      .hoverListmb a:hover .listTitle,
      .intelliHovermb a:hover .listTitle,
      .memberHovermb a:hover .listTitle,
      .smartHovermb a:hover .listTitle {
        transform: translateX(10px) scaleX(1.1);
        transition: all 0.5s linear;
      }
      ul li:hover .smartHovermb,
      ul li:hover .memberHovermb,
      ul li:hover .intelliHovermb,
      ul li:hover .toolHovermb {
        display: block;
        z-index: 999;
      }
      .intelliHovermb .barcaHovermb {
        display: none;
        &:hover .intelliHovermb .barcamb {
          display: block;
        }
      }
    }
  }
}

// tab scss
@media screen and (max-width: 900px) {
  .blur {
    min-height: 70px;
  }

  .navHeader {
    // padding: 10px;
    .logo a img {
      height: 50px;
      width: auto;
    }
    .mobileMenu {
      display: block;
    }
    .navList {
      display: none;
    }
  }
}

// mobile scss
@media screen and (max-width: 500px) {
  .navHeader {
    padding: 15px;
    .logo a img {
      height: 50px;
      width: auto;
    }
    .mobileMenu {
      display: block;
    }
    .navList {
      display: none;
    }
  }
}
