.scrollBanner {
  background: linear-gradient(
    to bottom,
    rgba(185, 185, 185, 0.2),
    rgba(83, 83, 83, 0.2)
  );
  backdrop-filter: blur(15px);
  padding-left: 40px;
  padding-block: 20px;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: scroll;
  overflow-y: hidden;
  position: relative;
  z-index: 0 !important;
  // margin-top: 96px;
  .spotlight {
    background: $primary-gradient;
    border-radius: 20px;
    padding-inline: 20px;
    padding-block: 5px;
    width: fit-content;
    font-weight: 600;
    color: $black;
  }
}
.scrollBanner::-webkit-scrollbar {
  display: none;
}
.bannerWrapper {
  overflow: hidden;
  flex: 1;
  // position: relative;
}
.banner {
  display: flex;
  gap: 40px;
  animation: scroll 15s linear infinite;
}
@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 900px) {
  .scrollBanner {
    padding-left: 20px;
    padding-block: 5px;
    .bannerContent {
      gap: 10px !important;
      .spotlight {
        padding-inline: 10px;
        font-size: 14px !important;
      }
      .banner span,
      .banner .detail {
        font-size: 12px !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .scrollBanner {
    padding-left: 20px;
    padding-block: 5px;
    .bannerContent {
      gap: 10px !important;
      .spotlight {
        padding-inline: 10px;
        font-size: 14px !important;
      }
      .banner span,
      .banner .detail {
        font-size: 12px !important;
      }
    }
  }
}
