.signUp {
  background: url("/image//1118394_4k_Mystery_3840x2160\ 2.png") no-repeat,
    rgba(12, 12, 13, 1);
  background-size: cover;
  object-fit: cover;
  padding-top: 150px;
  min-height: 736px;
}

@media screen and (max-width: 900px) {
  .signUp {
    min-height: 636px;
    .content {
      font-size: 18px !important;
    }
    .moto {
      font-size: 22px !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .signUp {
    padding-top: 80px !important;
    .content {
      font-size: 14px !important;
    }
    .moto {
      font-size: 16px !important;
    }
  }
}
