.youtube {
  background: url("/image/3d\ rendering\ of\ dark\ earth\ in\ space133\ 1.png")
      no-repeat,
    linear-gradient(to top, rgba(12, 12, 13, 1), rgba(12, 12, 13, 0)),
    rgba(12, 12, 13, 1);
  .link {
    margin-top: -60px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  .content {
    max-width: 725px;
    p {
      color: $grey-white;
    }
  }
}

@media screen and (max-width: 900px) {
  .youtube {
    .link {
      img {
        max-width: 500px;
      }
    }
    .content {
      font-size: 20px !important;
      padding: 15px !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .youtube {
    .link {
      img {
        max-width: 100%;
      }
    }
    .content {
      font-size: 16px !important;
      padding: 5px !important;
    }
  }
}
