.youtube {
  background: url("/image/3d\ rendering\ of\ dark\ earth\ in\ space133\ 1.png")
    no-repeat center center;

  z-index: 2;
  position: relative;
  .link {
    margin-top: -70px;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  .content {
    max-width: 725px;
    p {
      color: $grey-white;
    }
  }
}

@media screen and (max-width: 900px) {
  .youtube {
    .link {
      img {
        max-width: 500px;
      }
    }
    .content {
      font-size: 20px !important;
      padding: 15px !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .youtube {
    .link {
      img {
        max-width: 100%;
      }
    }
    .content {
      font-size: 16px !important;
      padding: 5px !important;
    }
  }
}
