@import '../abstracts/mixins';

.footer {
    background: rgba(237, 238, 255, 1);
    border-radius: 60px 60px 0 0;
    padding: 2rem 0rem;
    position: relative;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
        text-align: center;
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 1rem;

        li {
            list-style: none;

            a {
                font-size: 1.60rem;
                @include linear-text;
                transition: transform 0.3s ease;

                &:hover {
                    transform:scale(1.2);
                }
            }  
        }
    }
    &__text {
        font-size: 0.875rem;
        color: #333;
    }
}