.scipvalue {
  // margin-top: 20px;
  background: url(/images/value\ bg.png), radial-gradient(50% 50% at 50% 50%, rgba(12, 12, 13, 0) 0%, #0C0C0D 100%);
  background-size: cover;
  background-repeat: no-repeat;

  .tilescip {
    background: linear-gradient(91.13deg, #00FFD1 -10.65%, #00F1E3 52.68%, #00D8FA 91.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
    font-weight: 600;
    font-size: 50px;

  }
}

.intelligence-grid {
  .card {
    // background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 1.1);
    border-radius: 12px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;

    // &:hover {
    //   transform: translateY(-5px);
    // }

    .card-body {
      padding: 45px 30px;
      background-color: #0C0C0D;

      //  background: linear-gradient(0.69deg,
      //     rgba(83, 152, 191, 0.5) 0.6%,
      //     rgba(47, 79, 101, 0.5) 73.67%,
      //     // rgba(19, 34, 40, 0.5) 108.55%)

      .card-title {
        font-size: 25px;
        font-weight: bolder;
        color: white;
        z-index: 3;
        position: relative;
      }

      .card-text {
        font-size: 15px;
        color: #ccc;
        line-height: 1.5;

        z-index: 3;
        position: relative;
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(0.69deg,
          rgba(83, 152, 191, 0.5) 0.6%,
          rgba(47, 79, 101, 0.5) 73.67%,
          rgba(19, 34, 40, 0.5) 108.55%);
      opacity: 0;
      z-index: 1;
      transition: opacity 0.3s ease;

    }

    &:hover::before {
      opacity: 1;
    }
  }
}


@media (max-width:500px) {
  .scipvalue {
    // margin: 10px !important;

    .tilescip {
      font-size: 30px !important;
      padding: 20px 0 !important;
    }

    .textscip {
      font-size: 18px !important;
    }
  }
}