@import "../abstracts/variables";
@import "../abstracts/mixin";
.cta_button {
    @include buttonColor($blue);
    padding: 5px 20px;
}

.cta_hero {
    @include buttonColor($gradient);
    padding: 10px 20px;
    position: relative;
}
.cta_hero::after {
    content: "";
    background-image: url("../../../scssProjectPrabin/assets/Arrow_01.svg");
    position: absolute;
    z-index: 2;
    left: 100%;
    top:0px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
@media screen and (max-width: 768px) {
    .cta_button {
        display: none;
    }
}
