@font-face {
  font-family: "inter";
  src: url("../../fonts/static/Inter_18pt-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  font-weight: 300;//fw-light
  src: url("../../fonts/static/Inter_18pt-Light.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  font-weight: 400; //fw-normal
  src: url("../../fonts/static/Inter_18pt-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  font-weight: 500;//fw-medium
  src: url("../../fonts/static/Inter_18pt-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  font-weight: 700;//fw-bold
  src: url("../../fonts/static/Inter_18pt-Bold.ttf") format("truetype");
}