@import './utils/variables';


* {
    // outline: 1px solid red;
    box-sizing: border-box;
}

body {
    background-color: rgba(12, 12, 13, 1);

}

.btn {
    &-gradient {
        background: linear-gradient(to right, rgba(0, 255, 209, 1), rgba(0, 241, 227, 1), rgba(0, 216, 250, 1));

    }
}

.bg {
    &-green {
        background-color: $green;
    }
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: clamp(32px, 5vw, 64px);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

}

h2 {
    font-size: clamp(22px, 5vw, 44px);
    ;
    font-weight: bold;
    background: $text-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3.gradient-text {
    font-size: clamp(16px, 5vw, 28px);
    background: $text-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gradient-text {
    background: $text-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

h3.text-white {
    color: white !important;
}


p {
    color: whhite !important;
}

.icon {
    line-height: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.text-green {
    color: $green !important;
}

.highlighted-text {
    background: $text-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-group {
    background-color: white;
    transition: all .2s linear;

    .icon-wrapper {
        height: 30px;
        width: 30px;
        border-radius: 50%;

    }

    &:hover {
        background-color: $green;

    }
}

.fixed-icon {
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 999;
}


.navbar {
    background-color: rgba(12, 12, 13, 0.7);
    position: sticky;
    top: 0;
    z-index: 999;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: -1;
    }

    .search-bar {
        span {
            width: 30px;
            width: 30px;
            // background-color: $green;
            color: white;

            .icon {
                background-color: $green;
                font-size: 1rem;
                padding: .5rem 1rem;
                border-radius: 4px;
            }

        }

        @media screen and (min-width:600px) {
            display: none;
        }
    }

    .nav-item {
        padding: 0.5rem 1rem;

        .nav-link {
            color: white;
        }

        transition: all .2 linear;

        .nav-link.active {
            font-weight: 600;
            background: $text-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        @media screen and (min-width: 750px) {
            &:hover {
                background-color: rgba(255, 255, 255, .3);
                border-radius: 4px;
                transition: all .1s linear;

                .nav-link {
                    background: $text-gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

            }
        }
    }

    .navbar-nav>li {
        position: relative;
    }


    .dropdown-menu {
        position: absolute;
        border-radius: 8px;
        left: 0;
        top: 100%;
        margin-top: 2px;
        background-color: rgba(185, 185, 185, 0.6);
        min-width: 300px;
        padding: 1rem;
        display: none;
        z-index: 999;

        @media screen and (min-width: 600px) {
            .row {
                width: 600px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: 8px;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            z-index: -1;
        }

        // .row {
        //     min-width: 600px;
        // }

        .dropdown-item {
            color: white;
            line-height: 1;
            white-space: normal;
            word-wrap: break-word;
            overflow-wrap: break-word;
            padding: 1rem 1rem;
            border-radius: 8px;

            &:hover {
                color: black;
            }
        }
    }

    .navbar-nav {

        li:hover>.dropdown-menu {
            display: block;
        }
    }

    .dropdown-menu {
        li {
            position: relative;

        }
    }

    .dropdown-right {
        top: 0;
        left: 100%;
    }


    .child-dropdown {
        // position: relative;
        display: none;

        .sub-menu {
            // display: none;
            position: absolute;
            left: 100%;
            top: 0;
        }
    }
}



#hero-section {
    // margin-top: 180px;
    background: url("../assets/images/Scip\ video\ trimmed\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;

    .announcement {
        background-color: rgba(185, 185, 185, 0.4);
        height: 80px;
        cursor: default;

        .scroll-auto {
            text-wrap: nowrap;
            color: white;
            display: inline-flex;
            animation: scroll-infinite 20s linear infinite;


        }

        .scroll-information::-webkit-scrollbar {
            display: none;
        }

        @keyframes scroll-infinite {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-50%);
            }
        }
    }

    .hero-content {
        img {
            max-width: 140px;
        }
    }
}

#about-scip {
    background: url("../assets/images/1118394_4k_Mystery_3840x2160\ 1.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;

    &::after {
        content: "";
        background: url("../assets/images/ab7d298a8f654a84cc6f6ffcb97544eb2239925e.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        position: absolute;
        top: 50%;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: -1;
    }

    iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
}

#scip-value {
    background: url("../assets/images/Value\ Proposition\ Bg.png");
    background-size: cover;
    position: relative;
    background-position: 50% 80%;

    .card {
        height: 100%;
        background-color: rgba(12, 12, 13, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        color: white;
        transition: all .3s linear;
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(0deg, rgba(83, 152, 191, 1), rgba(47, 79, 101, 1), rgba(19, 34, 40, 1));
            z-index: -1;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

        &:hover {
            cursor: pointer;

            &::after {
                opacity: 1;
                // transition: all .3 linear;
            }
        }
    }
}

#scip-event {
    background-image: url("../assets/images/Image\ [hidden].png");
    background-size: cover;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100;
        left: 0;
        background-image: url("../assets/images/Union.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        transform: translateY(20%);
    }

    .row {
        padding: 0;
        margin-left: none;

        col {
            padding-left: 0 !important;
        }
    }

    .events {
        figure {
            max-width: 850px;
            height: auto;

            img {
                max-width: 100%;
            }
        }
    }

    .card {
        position: relative;
        transition: all 3s linear;
        border: none;
        overflow: hidden;
        max-height: 250px;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, .8));
            transition: all .3s linear;
            z-index: 2;
        }

        .card-img-top {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            object-position: bottom;
            overflow: hidden;
            transition: all .3s linear;
        }
 
        .card-body {
            color: white;
            position: absolute;
            max-height: 50px;
            top: 0;
            left: 0;
            z-index: 2;
            transform: translateY(180px);
            transition: transform .3s ease;

            p {
                opacity: 0;
                transition: all .5s linear;
            }
        }

        &:hover {
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(6, 44, 91, .6);
                z-index: 2;
            }

            .card-img-top {
                transform: scale(1.1);
            }

            .card-body {
                max-width: fit-content;
                transform: translateY(0);

                h5 {
                    font-size: 30px;
                }

                p {
                    opacity: 1;
                }
            }
        }

       @media screen and (max-width:450px) {
           .card-body{
            max-height: fit-content;
            transform: translateY(150%);
            p{
                opacity: 1;
            }
           }
        }
    }
}

#scip-intillegence {
    position: relative;

    img {
        max-width: 100%;
    }

    .earth {
        position: relative;
        height: auto;
        width: 100%;
        object-fit: cover;
        object-position: top;
        z-index: -1;
    }
}

#scip-affiliates {
    .affiliates {
        col {
            max-height: 100px;
            overflow: hidden;
        }

        .card {
            background-color: white;
            max-height: 100%;
            overflow: hidden;
            padding: 1rem 2rem;

            img {
                max-height: 100px;
                object-fit: cover;
                transition: all .3s ease;
            }

            p {
                opacity: 0;
                transform: scale(0.3);
                transition: all .3s ease;
            }

            &:hover {
                cursor: pointer;

                img {
                    transform: scale(0.3);
                    opacity: 0;
                }

                p {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        @media screen and (max-width:450px){        
                padding: 0;
                margin: 3rem auto;
                max-width: 450px;
                flex-direction: row;
                flex-wrap: nowrap;
                overflow-x: scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
        }

    }
}

#solution-provider {
    .accordion {
        width: 100%;
        overflow: hidden;

        .accordion-head {
            max-height: 500px;
            min-height: 95px;
        }

        figure {
            margin: 0;
            max-width: 300px;
            height: auto;
            aspect-ratio: 4/3;
            opacity: 0;
            max-height: 1px;
            transform: translateX(-500px);
            transition: all .5s linear;

            img {
                height: 100%;
                max-width: 100%;
                width: auto;
                object-fit: cover;
            }
        }

        .accordion-body {
            gap: clamp(1rem, 5vw, 3rem);

            .body-text {
                max-height: 40px;

                p {
                    opacity: 0;
                }
            }

            span {
                transform: translateX(500px);
            }
        }

        .accordion-head:hover {
            cursor: pointer;

            .accordion-body {
                transform: translateY(-50px);
                max-height: 600px;
                width: fit-content;
            }

            figure {
                opacity: 1;
                max-height: 200px;
                max-width: 300px;
                overflow: hidden;
                transform: translateX(0);
            }

            .counter {
                opacity: 0;
                max-height: 1px;
                transform: translateX(50%);
                transition: all .1s linear;
            }

            .icon {
                opacity: 0;
                max-height: 1px;
                transform: translateX(50%);
                transition: all .1s linear;
            }

            p {
                opacity: 1;
            }
        }

        @media screen and (max-width: 450px) {
            .accordion-head {
                flex-direction: column;
                gap: 3rem;
            }
        }
    }

}
    #resource-training {

        // outline: 1px solid red;
        .tabs {
            background-color: rgba(185, 185, 185, 0.6);
            backdrop-filter: blur(10px);
            /*blur effect */
            -webkit-backdrop-filter: blur(10px);

            .nav-link {
                border: 0;
                outline: 0;
                padding: .5rem 3rem;
            }


            .active {
                background-color: $green;
                color: black !important;
                transition: background-color 1s ease;
            }
        }

        .child-tabs {
            background-color: rgba(12, 12, 13, 0.5);
            // padding: 1rem;

            @media screen and (max-width:450px) {
                .nav {
                    padding: .5rem;
                    display: flex;
                    flex-wrap: nowrap;
                    max-width: 428px;
                    overflow-x: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                }
            }

            button {
                min-width: 100%;
                text-align: left;
                padding: 1.5rem 3rem;
                font-size: 20px;
                color: white;

                @media screen and (max-width:500px) {

                    padding: .5rem 1rem;
                    min-width: fit-content;
                    // min-width: 150px;
                    // margin-inline: 1rem;

                }
            }

            .active {
                background-color: $green;
                color: black;
                font-weight: bold;
            }

            // .child-tab-content {
            //     // min-height: 440px;
            //     margin: auto;

            //     .tab-pane {
            //         min-height: 200px;
            //         // width: 700px;
            //     }

            // }
        }
    }

    #recognization {
        figure {
            margin: 0;
            padding: 0;

            img {
                height: 100%;
                max-width: 100%;
            }
        }

        h2 {
            font-size: 44px;
        }
    }

    #intelligence-tool {
        #cube {
            top: 20%;
            max-width: 100%;
            height: auto;
            z-index: -1;
            -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 40%);

            @media screen and (max-width:450px) {
                width: 200%;
                height: auto;
                top: 45%;
            }
        }

        .bottom-text {
            margin-top: 500px;

            @media screen and (max-width:450px) {
                margin-top: 300px;
            }
        }

        .card {
            background-color: rgba(12, 12, 13, 0.5);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            color: white;
            transition: all .3s linear;
            position: relative;
            overflow: hidden;

            .icon-group {
                opacity: 0;
                @media screen and (max-width:450px){
                    opacity: 1;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(0deg, rgba(83, 152, 191, 1), rgba(47, 79, 101, 1), rgba(19, 34, 40, 1));
                z-index: -1;
                opacity: 0;
                transition: opacity .3s ease-in-out;
            }

            &:hover {
                border: none;
                transition: all .5s ease;
                cursor: pointer;

                .card-body {
                    max-height: 250px;
                    transform: scale(1.05);
                    transition: all .5s ease;
                }

                .icon-group {
                    opacity: 1;
                }

                &::after {
                    opacity: 1;
                    // transition: all .3 linear;
                }
            }
        }
    }

    #footer-note {
        video {
            bottom: 0;
            left: 0;
            max-width: 100%;
            z-index: -2;
            -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 90%);
            filter: brightness(0.6);

            @media screen and (max-width:450px) {
                source {
                    // height: 100%;
                }
            }
        }

        .note-wrapper {
            h1 {
                color: white !important;
            }
        }
    }

    #footer {
        border-top: 4px solid $green;
        background-color: rgba(12, 12, 13, 1);

        figure {
            margin: 0;
            padding: 0;

            img {
                max-height: 80px;
                width: auto;
            }
        }

        .footer-description {
            font-size: 14px;
        }

        .icon-groups {
            max-height: 20px;
        }
    }

    #footer {
        cursor: default;

        a {
            color: white !important;
        }

        transition: all .5s ease;

        .footer-icons:hover {
            transform: scale(1.15);
            color: $green !important;

            svg {
                path {
                    stroke: $green;
                }

                path:nth-last-child(-n + 2) {
                    fill: green;
                    stroke: $green;
                    color: $green;
                }
            }
        }

        .footer-links:hover {
            color: $green !important;
            transform: scale(1.15);
        }

    }

    @media screen and (max-width:500px) {
        p {
            padding: 0 !important;
        }

        .footer-content{
            padding-bottom: 2rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }