@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

 .dropdown .btn{
    background: transparent;
 }
.dropdown .btn:hover {
  background-color: transparent;
  /* color: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA); */
}
.dropdown  .btn:hover::after{
    color: #00d8fa;
}
.dropdown .btn:hover .dropdown-name {
  background: linear-gradient(to right, #00ffd1, #00f1e3, #00d8fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  width: 100%;
  height: 100%;
}
.text-success {
  color: #42e26f !important;
}
.bg-primary {
  background-color: #0b120d !important;
}
