//css for navbar
@import './component/nav';

//css for scrolller
@import './component/scroller';

//css for scrolller
@import './component/home';

//css for scrolller
@import './component/intelligence';

//css for scrolller
@import './component/youtube';

//css for scrolller
@import './component/proposition';

//css for events
@import './component/events';

//css for icoe
@import './component/icoe';

//css for scip affiliates
@import './component/affiliates';

//css for speed
@import './component/speed';

//css for smart
@import './component/smart';


//css for recognized
@import './component/recognized';

//css for recognized
@import './component/tools';

//css for difference
@import './component/difference';

//css for footer
@import './component/footer';

//for font roboto
@font-face {
    font-family: "Roboto";
    src: url("../font/roboto/static/Roboto-Regular.ttf") format('truetype');
}


//for font nunito sans
@font-face {
    font-family: "Nunito Sans";
    src: url("../font/nunito/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format('truetype');
}


.roboto{
    font-family: "Roboto";
}
.nunito{
    font-family: "Nunito Sans";
}
body{
    .line{
        height: 4px;
        width: 100%; 
        background-color:#42E26F;
        margin: 0px 0;
    }
}
.top-container{
    background-image: url('../images/background1.png');
    background-size: cover;
    overflow:hidden;
}

