.navbar {
  padding: 15px 80px;
  background-color: rgba(61, 37, 37, 0.2);
  position: sticky;
  z-index: 999;
}
.navbar ul {
  list-style: none;
}
.navbar li {
  position: relative;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
.navbar a i {
  transition: all 0.2s linear;
}
.navbar .nav-option .sign-in {
  font-weight: 600;
}
.navbar .nav-option ul .level-1 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  background-color: rgba(185, 185, 185, 0.4);
  border-radius: 10px;
  min-width: 300px;
  padding: 10px 20px 20px 20px;
}
.navbar .nav-option ul .level-double-1 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-backdrop-filter: blur(59.5px);
          backdrop-filter: blur(59.5px);
  background-color: rgba(185, 185, 185, 0.4);
  border-radius: 10px;
  min-width: 500px;
  padding: 5px 10px 10px 10px;
}
.navbar .nav-option ul .level-2 {
  display: none;
  position: absolute;
  top: 0%;
  left: 100%;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  background-color: rgba(195, 195, 195, 0.8);
  border-radius: 10px;
  min-width: 250px;
  padding: 5px 40px 10px 20px;
}
.navbar .nav-option ul .level-2 a {
  padding: 10px;
}
.navbar li.hover-1:hover i {
  transform: rotate(180deg);
}
.navbar li.hover-1:hover .level-1 {
  display: block;
}
.navbar .level-1 li:hover {
  border-radius: 5px;
  background-color: white;
  color: black;
}
.navbar .level-1 li:hover a {
  color: black;
  scale: 1.1;
}
.navbar .level-1 li:hover .level-2 {
  display: block;
}
.navbar li.hover-double:hover i {
  transform: rotate(180deg);
}
.navbar li.hover-double:hover .level-double-1 {
  display: block;
}
.navbar .level-double-1 li:hover {
  border-radius: 5px;
  background-color: white;
  color: black;
}
.navbar .level-double-1 li:hover a {
  color: black;
  transform: scale(1.1);
}
@media screen and (max-width: 430px) {
  .navbar {
    padding: 10px 20px;
  }
  .navbar .nav-option {
    display: none;
  }
}

.scroller {
  padding: 10px 60px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  background-color: rgba(245, 245, 245, 0.1);
  /* Slider container */
  /* Slides container: 4 slides (2 original + 2 duplicates) */
  /* Individual slides */
  /* Continuous sliding animation */
}
.scroller .spotlight {
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  border-radius: 20px;
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
}
.scroller p {
  font-size: 20px;
  color: white;
}
.scroller .linear {
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
}
.scroller .slider {
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.scroller .slides {
  display: flex;
  width: 100vw; /* 4 slides * 100vw */
  animation: scroll 28s linear infinite;
}
.scroller .slide {
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200vw);
  } /* move 2 slides (200vw) to the left */
}
@media screen and (max-width: 430px) {
  .scroller {
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px 20px;
  }
  .scroller .spotlight {
    padding: 5px !important;
    border-radius: 20px;
  }
  .scroller p {
    font-size: 12px;
  }
  .scroller .slide {
    padding: 0px !important;
    height: 20px;
  }
  .scroller .slide svg {
    width: 12px;
    height: 12px;
    padding: 0px !important;
  }
  .scroller .scoller-content {
    gap: 0 !important;
  }
}

.home .home-content h1 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 64px;
  font-weight: 700;
}
.home .home-content p {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.home .scroll-down {
  font-size: 20px;
  color: white;
}
@media screen and (max-width: 430px) {
  .home .home-content h1 {
    padding: 30px 0px 20px 0px !important;
    font-size: 34px;
  }
  .home .home-content p {
    padding: 20px 20px 20px 20px !important;
    font-size: 14px;
  }
}

.intelligence {
  background: url("../images/intelligence.png"), linear-gradient(to top, rgb(12, 12, 13), rgba(12, 12, 13, 0), rgb(12, 12, 13));
  padding-bottom: 200px;
  /* On hover: grow background to cover button */
}
.intelligence h1 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 64px;
  font-weight: 700;
}
.intelligence p {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.intelligence button {
  position: relative;
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.8s linear;
  color: black;
  margin: auto;
}
.intelligence button p {
  margin: 0;
  position: relative;
  color: black;
  transition: all 0.5s linear;
}
.intelligence button .signup-arrow {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
.intelligence button::before {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #42E26F;
  border-radius: 50%;
  transition: all 0.5s linear;
}
.intelligence button:hover::before {
  width: 200%;
  height: 200%;
  right: -20%;
}
@media screen and (max-width: 430px) {
  .intelligence .container {
    padding: 30px 20px 0px 20px !important;
  }
  .intelligence h1 {
    padding: 0px 0px 20px 0px !important;
    font-size: 34px;
  }
  .intelligence p {
    padding: 0px 0px 20px 0px !important;
    font-size: 14px;
  }
  .intelligence button {
    padding: 5px 15px;
  }
  .intelligence button p {
    padding: 3px 0px 0px 0px !important;
  }
  .intelligence button i {
    padding: 0px 2px 0px 0px !important;
  }
}

.youtube {
  background: url("../images/background2.png"), linear-gradient(to top, black, #393E46, rgb(12, 12, 13));
  background-size: cover;
}
.youtube img {
  margin-top: -150px;
}
.youtube p {
  font-size: 20px;
  font-weight: 400;
  color: white;
  max-width: 700px;
}
@media screen and (max-width: 430px) {
  .youtube {
    padding: 0px 20px !important;
  }
  .youtube p {
    padding: 20px 0px 0px 0px !important;
    font-size: 14px;
  }
  .youtube img {
    max-width: 340px;
    margin-top: -120px;
  }
}

.proposition {
  background: radial-gradient(circle, rgba(12, 12, 13, 0), rgb(12, 12, 13)), url("../images/bg4.png") no-repeat, url("../images/bg3.png") no-repeat;
  background-size: cover;
  background-position: bottom;
}
.proposition .top h1 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 64px;
  font-weight: 700;
}
.proposition .top p {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.proposition .proposition-container {
  padding: 0px 150px;
}
.proposition .proposition-container .box {
  background-color: rgba(12, 12, 13, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border: 1px solid #B9B9B9;
  border-radius: 10px;
  transition: all 0.3s linear;
  padding: 20px;
  min-height: 265px;
  color: white;
  position: relative;
}
.proposition .proposition-container .box .title {
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 600;
}
.proposition .proposition-container .box .decription {
  font-size: 18px;
  font-weight: 400;
}
.proposition .proposition-container .box::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, #10151b, #245d75);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.5s linear;
  inset: 0;
  z-index: -1;
}
.proposition .proposition-container .box:hover::before {
  opacity: 1;
}
@media screen and (max-width: 430px) {
  .proposition .top h1 {
    font-size: 34px;
  }
  .proposition .top p {
    font-size: 14px;
  }
  .proposition .proposition-container {
    padding: 0px 20px;
  }
  .proposition .proposition-container .box {
    padding: 15px;
  }
}

.events {
  background: url("../images/intelligence.png"), linear-gradient(to top, rgb(12, 12, 13), rgb(12, 12, 13), rgb(12, 12, 13));
}
.events h1, .events h2, .events h3 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 64px;
  font-weight: 700;
}
.events h2 {
  font-size: 44px;
}
.events h3 {
  font-size: 28px;
}
.events .top {
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 0px 300px;
}
.events p {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.events .top-content {
  /* On hover: grow background to cover button */
}
.events .top-content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s linear;
}
.events .top-content img:hover {
  scale: 1.05;
}
.events .top-content .date {
  color: white;
}
.events .top-content button {
  position: relative;
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.8s linear;
  color: black;
  margin: auto;
}
.events .top-content button p {
  margin: 0;
  position: relative;
  color: black;
  transition: all 0.5s linear;
}
.events .top-content button .signup-arrow {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
.events .top-content button::before {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #42E26F;
  border-radius: 50%;
  transition: all 0.5s linear;
}
.events .top-content button:hover::before {
  width: 200%;
  height: 200%;
  right: -20%;
}
.events .upcoming .hover-column {
  position: relative;
  max-width: 450px;
  max-height: 250px;
  overflow: hidden;
}
.events .upcoming .hover-column img {
  transition: all 0.5s linear;
}
.events .upcoming .hover-column::before {
  content: "";
  position: absolute;
  background: rgba(0, 15, 36, 0.4);
  opacity: 0;
  z-index: 1;
  transition: all 0.5s linear;
  inset: 0;
}
.events .upcoming .hover-column:hover::before {
  opacity: 1;
  height: auto;
}
.events .upcoming .hover-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  scale: 1px;
  transition: all 0.5s linear;
}
.events .upcoming .hover-content .title {
  transition: all 0.5s linear;
  justify-content: end;
  font-size: 20px;
  font-weight: 600;
}
.events .upcoming .hover-content .date {
  opacity: 0;
  height: 0px;
  transition: all 0.2s linear;
}
.events .upcoming .hover-content .date p, .events .upcoming .hover-content .date i {
  font-size: 16px;
  font-weight: 400;
}
.events .upcoming .hover-content .date i {
  color: white;
}
.events .upcoming .hover-column:hover img {
  scale: 1.2;
}
.events .upcoming .hover-column:hover .hover-content .date {
  opacity: 1;
  height: auto;
}
.events .upcoming .hover-column:hover .hover-content {
  z-index: 3;
  scale: 1.1;
  transform: scale(1) translate(5%, -110%);
}
.events .upcoming .hover-column:hover .hover-content .title {
  font-size: 22px !important;
}
@media screen and (max-width: 430px) {
  .events h1 {
    padding: 30px 20px 20px 20px !important;
    font-size: 34px;
  }
  .events h2 {
    font-size: 25px;
  }
  .events h3 {
    font-size: 20px;
  }
  .events .top {
    font-size: 14px;
    padding: 0px 20px;
  }
  .events p {
    font-size: 14px;
  }
  .events .top-content button {
    width: 50%;
    padding: 5px 10px !important;
  }
  .events .top-content button i {
    padding: 10px 0px 10px 2px !important;
  }
  .events .date i {
    padding: 0px !important;
  }
  .events .content {
    padding: 10px 30px 10px 30px !important;
    width: 400px !important;
  }
  .events .upcoming {
    margin: 0px !important;
  }
  .events .upcoming h3 {
    padding-left: 20px !important;
  }
  .events .upcoming .row {
    padding-top: 20px !important;
  }
  .events .upcoming .title {
    font-size: 18px;
  }
  .events .upcoming .date p, .events .upcoming .date i {
    font-size: 16px;
  }
  .events .upcoming .hover-column {
    margin-bottom: 10px;
  }
}

.icoe {
  background: url("../images/intelligence.png"), linear-gradient(to top, rgb(12, 12, 13), rgb(12, 12, 13), rgb(12, 12, 13));
  /* On hover: grow background to cover button */
}
.icoe h2 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 44px;
  font-weight: 700;
}
.icoe p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.icoe button {
  position: relative;
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.8s linear;
  color: black;
  margin: auto;
}
.icoe button p {
  margin: 0;
  position: relative;
  color: black;
  transition: all 0.5s linear;
}
.icoe button .signup-arrow {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
.icoe button::before {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #42E26F;
  border-radius: 50%;
  transition: all 0.5s linear;
}
.icoe button:hover::before {
  width: 200%;
  height: 200%;
  right: -20%;
}
.icoe .icoe-img img {
  width: 1000px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 430px) {
  .icoe {
    padding: 30px 20px !important;
  }
  .icoe .row {
    padding: 0px !important;
    margin: auto !important;
  }
  .icoe img {
    padding-bottom: 20px !important;
  }
  .icoe h2 {
    font-size: 34px;
  }
  .icoe p {
    font-size: 14px;
  }
  .icoe .col-data {
    justify-items: center;
    padding-bottom: 30px;
  }
  .icoe button {
    padding: 8px 20px;
  }
  .icoe .icoe-img img {
    width: 320px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.affiliates {
  background: url("../images/intelligence.png"), linear-gradient(to top, rgb(12, 12, 13), rgb(12, 12, 13), rgb(12, 12, 13));
}
.affiliates .topic h1 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 64px;
  font-weight: 700;
}
.affiliates .topic p {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.affiliates .affiliates-container {
  padding: 0px 150px;
}
.affiliates .hover-column {
  max-width: 250px;
  min-height: 100px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  position: relative;
}
.affiliates .hover-column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.8s linear;
  opacity: 1;
}
.affiliates .hover-column .title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  padding: 20px;
  font-size: 14px;
  opacity: 0;
  transition: all 0.8s linear;
  scale: 0;
}
.affiliates .hover-column:hover {
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}
.affiliates .hover-column:hover img {
  opacity: 0;
  scale: 0;
}
.affiliates .hover-column:hover .title {
  opacity: 1;
  transform-origin: center;
  scale: 1;
}
@media screen and (max-width: 430px) {
  .affiliates {
    padding: 0px 20px !important;
  }
  .affiliates .topic h1 {
    font-size: 34px;
  }
  .affiliates .topic p {
    font-size: 14px;
  }
  .affiliates .affiliates-container {
    padding: 20px !important;
  }
  .affiliates .affiliates-container .row {
    padding: 0px !important;
    margin: auto !important;
  }
}

.speed {
  background: url("../images/bg4.png"), linear-gradient(to top, rgb(12, 12, 13), rgb(12, 12, 13), rgb(12, 12, 13));
  color: white;
  /* On hover: grow background to cover button */
}
.speed .topic {
  padding: 0px 70px;
}
.speed .topic h1 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 64px;
  font-weight: 700;
}
.speed .topic .decription {
  color: white;
  font-size: 20px;
  font-weight: 700;
}
.speed .topic .decription span {
  font-weight: 400;
}
.speed .topic h3 {
  font-size: 28;
  font-weight: 600;
}
.speed button {
  position: relative;
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.8s linear;
  color: black;
  margin: auto;
}
.speed button p {
  margin: 0;
  position: relative;
  color: black;
  transition: all 0.5s linear;
}
.speed button .signup-arrow {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
.speed button::before {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #42E26F;
  border-radius: 50%;
  transition: all 0.5s linear;
}
.speed button:hover::before {
  width: 200%;
  height: 200%;
  right: -20%;
}
.speed .content {
  font-family: "Roboto";
  padding: 0px 100px;
}
.speed .content h3 {
  font-size: 28px;
  font-weight: 600;
}
.speed .content .awareness {
  border-block: 1px solid rgba(245, 245, 245, 0.8);
  transition: all 0.5s linear;
}
.speed .content .awareness .num {
  opacity: 1;
  transform: scale(1);
}
.speed .content .awareness img {
  opacity: 0;
  height: 0px;
  transform: scale(0);
  transition: all 0.5s linear;
}
.speed .content .awareness .awareness-content {
  gap: 40px;
}
.speed .content .awareness .awareness-text {
  opacity: 0;
  height: 0px;
  transition: all 0.5s linear;
}
.speed .content .awareness .awareness-title {
  transition: all 0.5s linear;
  margin-bottom: 20px;
}
.speed .content .awareness i {
  opacity: 1;
  transition: all 0.5s linear;
}
.speed .content .awareness:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.speed .content .awareness:hover .num {
  opacity: 0;
  transform: scale(0);
  height: 0px;
  width: 0px;
}
.speed .content .awareness:hover img {
  opacity: 1;
  height: auto;
  transform: scale(1);
}
.speed .content .awareness:hover .awareness-content {
  gap: 0px;
}
.speed .content .awareness:hover .awareness-text {
  opacity: 1;
  height: auto;
  margin: -40px;
  transform: translate(4%, -5%);
}
.speed .content .awareness:hover .awareness-title {
  transform: translate(4%, -5%);
}
.speed .content .awareness:hover i {
  opacity: 0;
}
@media screen and (max-width: 430px) {
  .speed {
    padding: 20px !important;
  }
  .speed .topic {
    padding: 0px !important;
  }
  .speed .topic h1 {
    font-size: 34px;
  }
  .speed .topic .decription {
    padding: 0px 0px 10px 0px !important;
    font-size: 14px;
  }
  .speed .topic h3 {
    font-size: 18px;
    margin-bottom: 30px !important;
  }
  .speed button {
    padding: 5px 24px;
  }
  .speed .content {
    padding: 0px 20px !important;
  }
  .speed .content h3 {
    font-size: 18px;
  }
  .speed .awareness:hover img {
    width: 100%;
  }
  .speed .awareness:hover .division {
    padding: 10px 5px 10px 5px !important;
  }
}

.smart {
  background: url("../images/smart.png"), linear-gradient(to bottom, rgb(12, 13, 15));
  color: white;
}
.smart .topic {
  padding: 0px 80px;
  /* On hover: grow background to cover button */
}
.smart .topic h1 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 64px;
  font-weight: 700;
}
.smart .topic .decription {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.smart .topic button {
  position: relative;
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.8s linear;
  color: black;
  margin: auto;
}
.smart .topic button p {
  margin: 0;
  position: relative;
  color: black;
  transition: all 0.5s linear;
}
.smart .topic button .signup-arrow {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
.smart .topic button::before {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #42E26F;
  border-radius: 50%;
  transition: all 0.5s linear;
}
.smart .topic button:hover::before {
  width: 200%;
  height: 200%;
  right: -20%;
}
.smart .nav-link {
  color: white;
}
.smart .nav-pills .nav-link.active, .smart .nav-pills .show > .nav-link {
  color: black;
  background-color: #42E26F;
}
.smart .bars .tabs-bg {
  margin: 30px 100px 0px 100px;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border: 1px solid #B9B9B9;
  border-radius: 10px;
  min-height: 320px;
}
.smart .bars .tabs-bg .tab-top {
  background-color: rgba(12, 12, 13, 0.5019607843);
  min-height: 320px;
}
.smart .bars .tabs-bg .tab-data {
  padding-left: 50px;
  /* On hover: grow background to cover button */
}
.smart .bars .tabs-bg .tab-data h4 {
  font-size: 24px;
  font-weight: 600;
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.smart .bars .tabs-bg .tab-data button {
  position: relative;
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.8s linear;
  color: black;
}
.smart .bars .tabs-bg .tab-data button p {
  margin: 0;
  position: relative;
  color: black;
  transition: all 0.5s linear;
}
.smart .bars .tabs-bg .tab-data button .signup-arrow {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
.smart .bars .tabs-bg .tab-data button::before {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #42E26F;
  border-radius: 50%;
  transition: all 0.5s linear;
}
.smart .bars .tabs-bg .tab-data button:hover::before {
  width: 200%;
  height: 200%;
  right: -20%;
}
.smart .tabs-top {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border: 1px solid #B9B9B9;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.smart .tabs-top h3 {
  font-size: 28px;
  font-weight: 600;
}
@media screen and (max-width: 430px) {
  .smart {
    padding: 0px 20px !important;
  }
  .smart .topic {
    padding: 0px !important;
  }
  .smart .topic h1 {
    font-size: 34px;
    padding: 20px !important;
  }
  .smart .topic .decription {
    padding: 0px 0px 10px 0px !important;
    font-size: 14px;
  }
  .smart .topic h3 {
    font-size: 18px;
    margin-bottom: 30px !important;
  }
  .smart button {
    padding: 5px 24px !important;
  }
  .smart .bars {
    padding: 30px 0px !important;
  }
  .smart .bars .tabs-bg {
    margin: 30px 20px 0px 20px !important;
    min-height: 120px !important;
  }
  .smart .bars .tabs-bg .row {
    max-width: 450px;
  }
  .smart .bars .tabs-bg .tab-top {
    min-height: 100px !important;
  }
  .smart .bars .tabs-bg .tab-data {
    max-width: 500px !important;
    padding: 10px 10px 30px 15px !important;
  }
  .smart .bars .tabs-bg .tab-data h4 {
    font-size: 20px;
  }
  .smart .bars .tabs-bg .tab-data button {
    padding: 5px 24px !important;
  }
  .smart .tabs-top h3 {
    font-size: 18px;
  }
}

.recognized {
  background-color: #0C0C0D;
  padding: 100px 140px 150px 140px;
}
.recognized h2 {
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 44px;
  font-weight: 700;
}
.recognized p {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
@media screen and (max-width: 430px) {
  .recognized {
    padding: 90px 20px 80px 20px;
  }
  .recognized h2 {
    padding: 0px !important;
    text-align: center;
    font-size: 34px;
  }
  .recognized p {
    font-size: 14px;
  }
  .recognized img {
    width: 100% !important;
  }
}

.tools {
  background-color: #0C0C0D;
}
.tools .top {
  /* On hover: grow background to cover button */
}
.tools .top h1 {
  text-transform: uppercase;
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 64px;
  font-weight: 700;
}
.tools .top p {
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 0 250px;
}
.tools .top .cube {
  margin-top: -100px;
}
.tools .top button {
  position: relative;
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.8s linear;
  color: black;
  margin: auto;
}
.tools .top button p {
  margin: 0;
  position: relative;
  color: black;
  transition: all 0.5s linear;
}
.tools .top button .signup-arrow {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
.tools .top button::before {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #42E26F;
  border-radius: 50%;
  transition: all 0.5s linear;
}
.tools .top button:hover::before {
  width: 200%;
  height: 200%;
  right: -20%;
}
.tools .tools-container {
  padding: 0px 150px;
  color: white;
}
.tools .tools-container .box {
  background-color: rgba(12, 12, 13, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border: 1px solid #B9B9B9;
  border-radius: 10px;
  padding: 20px 20px 5px 20px;
  min-height: 270px;
  /* On hover: grow background to cover button */
}
.tools .tools-container .box .title {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
}
.tools .tools-container .box .description {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
}
.tools .tools-container .box button {
  position: relative;
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  height: 0px;
  transition: all 0.2s linear;
  color: black;
  opacity: 0;
  margin: auto;
}
.tools .tools-container .box button p {
  margin: 0;
  position: relative;
  color: black;
  transition: all 0.5s linear;
}
.tools .tools-container .box button .signup-arrow {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
.tools .tools-container .box button::before {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #42E26F;
  border-radius: 50%;
  transition: all 0.5s linear;
}
.tools .tools-container .box button:hover::before {
  width: 200%;
  height: 200%;
  right: -20%;
}
.tools .tools-container .box:hover {
  background: linear-gradient(to bottom, #10151b, #245d75);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.tools .tools-container .box:hover .tool-button {
  opacity: 1;
  min-height: 50px;
}
@media screen and (max-width: 430px) {
  .tools {
    padding: 20px 20px !important;
  }
  .tools .top h1 {
    font-size: 34px;
  }
  .tools .top p {
    font-size: 14px;
    padding: 0px !important;
  }
  .tools .top .cube {
    margin-top: -10px;
  }
  .tools .top button {
    padding: 5px 24px !important;
  }
  .tools .tools-container {
    padding: 0px 20px !important;
    color: white;
  }
  .tools .tools-container .box {
    background-color: rgba(12, 12, 13, 0.5);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    border: 1px solid #B9B9B9;
    border-radius: 10px;
    padding: 20px 20px 5px 20px;
    min-height: 270px;
  }
  .tools .tools-container .box .title {
    font-size: 18px;
  }
  .tools .tools-container .box .description {
    font-size: 14px;
  }
  .tools .tools-container .box button {
    padding: 5px 24px !important;
  }
  .tools .tools-container .box button p {
    padding: 5px 0px 0px 0px !important;
  }
  .tools .tools-container .box button .signup-arrow {
    padding: 12px 0px 0px 3px !important;
  }
  .tools .tools-container .box:hover .tool-button {
    min-height: 50px;
  }
}

.difference {
  background: url("../images/difference.png"), linear-gradient(to top, rgb(12, 12, 13), rgb(12, 12, 13), rgb(12, 12, 13)) no-repeat;
}
.difference .content {
  padding: 200px;
}
.difference .content .topic {
  font-family: "Roboto";
  text-transform: uppercase;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 64px;
  font-weight: 700;
}
.difference .content span {
  background: linear-gradient(to right, #00FFD1, #00F1E3, #00D8FA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.difference .content p {
  color: white;
}
.difference .content .description {
  font-family: "Roboto";
  color: white;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 28px;
  font-weight: 600;
}
@media screen and (max-width: 430px) {
  .difference .content {
    padding: 100px 20px !important;
  }
  .difference .content .topic {
    font-size: 34px;
  }
  .difference .content p {
    font-size: 14px;
  }
  .difference .content .description {
    font-size: 18px;
  }
}

footer {
  background-color: #0C0C0D;
  color: white;
}
footer .footer-content {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
}
footer i {
  color: white;
  font-size: 20px;
}
footer a:hover i {
  color: #42E26F;
}
footer a:hover .first path {
  stroke: #42E26F;
}
footer a:hover svg path {
  fill: #42E26F;
}
footer h5 {
  font-size: 20px;
  font-weight: 600;
}
footer ul {
  list-style: none;
}
footer ul li {
  color: rgba(245, 245, 245, 0.8);
}
@media screen and (max-width: 430px) {
  footer {
    padding: 10px 20px !important;
    text-align: center;
  }
  footer .footer-content {
    font-size: 12px;
  }
  footer .icon {
    justify-content: center !important;
    padding-bottom: 45px !important;
  }
  footer i {
    font-size: 18px;
  }
  footer h5 {
    font-size: 20px;
  }
}

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/static/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../font/nunito/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
}
.roboto {
  font-family: "Roboto";
}

.nunito {
  font-family: "Nunito Sans";
}

body .line {
  height: 4px;
  width: 100%;
  background-color: #42E26F;
  margin: 0px 0;
}

.top-container {
  background-image: url("../images/background1.png");
  background-size: cover;
  overflow: hidden;
  /* On hover:background grows to cover button */
}
.top-container button {
  position: fixed;
  background-color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.8s linear;
  color: black;
  margin: 33% 0px 0px 82%;
  z-index: 999;
}
.top-container button p {
  margin: 0;
  position: relative;
  color: black;
  transition: all 0.5s linear;
}
.top-container button .member {
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
}
.top-container button::before {
  content: "";
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #42E26F;
  border-radius: 50%;
  transition: all 0.5s linear;
}
.top-container button:hover::before {
  width: 200%;
  height: 200%;
  right: -20%;
}
@media screen and (max-width: 430px) {
  .top-container button {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */