.footer{
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50px 50px 0px 0px;
    .dots-left{
        position: absolute;
        bottom: -30px;
        width: 60px;
        height: 60px;
        object-fit: contain;
        z-index: 1;
    }
    .dots-right{
        position: absolute;
        top:10px;
        right:-10px;
        width: 50px;
        height: 40px;
        object-fit: contain;
        z-index: 1;
    }
    .footer-container{
        background: #EDEEFF;
        border-radius: 50px 50px 0px 0px;
        min-height: 100px;
        @include center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        i{
            font-size: 28px;
            padding: 15px;
            @include text-lineargradient;
            &:hover{
                cursor: pointer;
            }
        }
        .footer-content{
            color: #5F6073;
            font-size: 12px;
            padding-bottom: 10px;
        }
    }
}
@media screen and (max-width:500px) {
    .footer{
        border-radius: 30px 30px 0px 0px;
        margin-top: 20px;
        i{
           font-size: 20px; 
           padding: 10px;
        }
        .footer-content{
            font-size: 10px;
        }
    }
}