//skill-page
.skill-section{
    position: relative;
    .dots-left{
        width: 80px;
        height: 80px;
        position: absolute;
        left: -20px;
        top:65px;
        z-index: -1;
        object-fit: contain;
    }
    .shadow-left{
        width: 300px;
        position: absolute;
        left: -120px;
        top:190px;
        z-index: -1;
    }
    .dots-right{
        position: absolute;
        right:-60px;
        top:50%;
        z-index: -1;
    }
    .shadow-right{
        position: absolute;
        right:-150px;
        top:10px;
        z-index: -1;
    }
    .dots-bottom{
        margin-left: -50px;
        z-index: -1;
    }
}
.skill-container{
   padding:50px 60px 20px 60px;
   overflow-x: hidden;
   position: relative;
  h2 {
    margin-top: 25px;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    @include text-lineargradient;
    width:fit-content;
    &::after {
      content: "";
      background: url('../../images/Highlight_10.png') no-repeat;
      background-size: contain;
      position: absolute;
      top:-20px;
      left: 55px;
      width: 100px;
      height: 100px;
      transform: rotate(20deg);
      z-index: 2;
    }
  }
  hr{
    margin-bottom: 30px;
     background-color: #EDEEFF;
     opacity: 0.5;
  }
//   &::before{
//     content: '';
//     background: url('/images/dots.png') no-repeat;
//     background-size: contain;
//     width: 70px;
//     height: 70px;
//     position: absolute;
//     top:85px;
//     left:-10px;
//   }
}
.skill-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:40px;
    position: relative;
    // &::after{
    //     content: '';
    //     background: url(/images/dots.png) no-repeat ;
    //     background-size:cover ;
    //     width: 120px;
    //     height: 100px;
    //     position: absolute;
    //     bottom: 40%;
    //     right: -70px;
    //     z-index: -1;
    // }
}
.skill-list{
    width:160px;
    position: relative;
    .outer-circle{
        width:150px;
        height:150px;
        border: 20px solid #EDEEFF;
        border-radius: 50%;
        @include center;
         .percentage{
            color:#5F6073;
            font-size: 26px;
            font-weight: 500;
        }
    }
    .skill-title{
        color:$primary-color;
        font-size: 18px;
        padding: 10px;
        text-align: center;
    }
   
}
.svg90-1{
    position: absolute;
    top:0;
    left:0;
    circle{
        fill: none;
        stroke:$secondary;
        stroke-width: 20px;
        stroke-dasharray:375;
        stroke-dashoffset:38;
        stroke-linecap: round;
        transform: rotate(-120deg);
        transform-origin: 50% 50%;
    }
}
.svg90-2{
    display: none;
}
.svg80-1{
    position: absolute;
    top:0;
    left:0;
    circle{
        fill: none;
        stroke:$secondary;
        stroke-width: 20px;
        stroke-dasharray:375;
        stroke-dashoffset:75;
        stroke-linecap: round;
        transform: rotate(-120deg);
        transform-origin: 50% 50%;
    }
}
.svg80-2{
    display: none;
}
.svg70-1{
    position: absolute;
    top:0;
    left:0;
    circle{
        fill: none;
        stroke:$secondary;
        stroke-width: 20px;
        stroke-dasharray:375;
        stroke-dashoffset:112.5;
        stroke-linecap: round;
        transform: rotate(-120deg);
        transform-origin: 50% 50%;
    }
}
.svg70-2{
    display: none;
}

@media screen and (max-width:500px) {
    .skill-section{
        height: auto;
        padding-inline: 30px;
        h2{
            font-size: 24px;
            margin-top: 30px;
            &::after {
                top:-20px;
                left: 30px;
                width: 80px;
                height: 80px;
                transform: rotate(15deg);
                z-index: 2;
            }
        }
        .skill-content{
            grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        }
        .skill-list{
            width:130px;
            position: relative;
            .outer-circle{
                width:130px;
                height:130px;
                .percentage{
                    font-size: 19px;
                }
                .svg90-1{
                    display: none;
                }
                .svg90-2{
                    display: block;
                    position: absolute;
                    top:0;
                    left:0;
                    circle{
                        fill: none;
                        stroke:$secondary;
                        stroke-width: 20px;
                        stroke-dasharray:337;
                        stroke-dashoffset:33.7;
                        stroke-linecap: round;
                        transform: rotate(-120deg);
                        transform-origin: 50% 50%;
                    }
                }
                .svg80-1{
                    display: none;
                }
                .svg80-2{
                    display: block;
                    position: absolute;
                    top:0;
                    left:0;
                    circle{
                        fill: none;
                        stroke:$secondary;
                        stroke-width: 20px;
                        stroke-dasharray:337;
                        stroke-dashoffset:67.4;
                        stroke-linecap: round;
                        transform: rotate(-120deg);
                        transform-origin: 50% 50%;
                    }
                }
                .svg70-1{
                    display: none;
                }
                .svg70-2{
                    display: block;
                    position: absolute;
                    top:0;
                    left:0;
                    circle{
                        fill: none;
                        stroke:$secondary;
                        stroke-width: 20px;
                        stroke-dasharray:337;
                        stroke-dashoffset:101;
                        stroke-linecap: round;
                        transform: rotate(-120deg);
                        transform-origin: 50% 50%;
                    }
                }
            }
            .skill-title{
                font-size: 12px;
                padding: 10px;
            }
        }
    }
}