.aboutContainer {
  background: linear-gradient(to bottom, #DFE3EB, #ffffff);
  position: relative;
  overflow: hidden;
}
.aboutContainer .bgCircle {
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 1;
}
.aboutContainer .dot {
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 30px;
}

.about {
  position: relative;
  z-index: 3;
}
.about img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 20px 20px white;
}
.about .aboutContent .about-text {
  font-size: 36px;
}
.about .aboutContent .about-description {
  font-size: 14px;
}
.about hr {
  margin-top: 50px;
}
.about .hibutton {
  border-radius: 4px;
}
.about .hibutton svg {
  width: 30px;
}

.experienceProject {
  gap: 20px;
}
.experienceProject .experience, .experienceProject .project {
  max-width: 206px;
}
.experienceProject .experience .years, .experienceProject .project .years {
  font-size: 50px;
}

@media screen and (max-width: 900px) {
  .about .aboutContent .about-text {
    font-size: 20px;
  }
  .about .aboutContent .about-description {
    font-size: 12px;
  }
  .experienceProject {
    gap: 10px;
  }
  .experienceProject .experience .years, .experienceProject .project .years {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .about {
    padding: 20px 10px !important;
  }
  .about .aboutContent {
    padding: 10px 0px !important;
  }
}
@font-face {
  font-family: "inter";
  src: url("../../fonts/static/Inter_18pt-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  font-weight: 300;
  src: url("../../fonts/static/Inter_18pt-Light.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  font-weight: 400;
  src: url("../../fonts/static/Inter_18pt-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  font-weight: 500;
  src: url("../../fonts/static/Inter_18pt-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "inter";
  font-weight: 700;
  src: url("../../fonts/static/Inter_18pt-Bold.ttf") format("truetype");
}
.serviceCard .card {
  background-color: rgba(223, 227, 235, 0.4);
  min-height: 300px;
  cursor: pointer;
}
.serviceCard .card-link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.serviceCard .card:hover {
  background-color: white;
  box-shadow: 0px 20px 48px 0px rgba(10, 25, 49, 0.3);
}
.serviceCard .card:hover .card-body svg path {
  stroke: #684fff;
}
.serviceCard .discuss {
  font-size: 14px;
  max-width: 0;
  transition: all 0.8s linear;
  overflow-x: hidden;
  white-space: nowrap;
}
.serviceCard .card:hover .discuss {
  max-width: 300px;
}

.cardContent {
  margin-top: 50px;
}
.cardContent .card-title {
  font-size: 26px;
}
.cardContent hr {
  width: 64px;
  border-color: #684fff;
  opacity: 30%;
}
.cardContent .card-link {
  font-size: 12px;
}
.cardContent .card-link svg {
  width: 30px;
}

@media screen and (max-width: 900px) {
  .serviceCard .card {
    min-height: 200px;
  }
  .serviceCard .card .card-body svg {
    width: 20px;
    height: 20px;
  }
  .serviceCard .card .card-body .cardContent .card-title {
    font-size: 20px;
  }
  .card-link .discuss {
    font-size: 12px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    transition: none;
    color: #0a1931 !important;
  }
  .card-link svg path {
    stroke: #0a1931 !important;
  }
  .card:hover .discuss {
    color: #684fff !important;
  }
  .card:hover svg path {
    stroke: #684fff !important;
  }
}
.work {
  padding-block: 50px;
}

.workCard .card {
  cursor: pointer;
}
.workCard .card .card-body .card-title {
  font-size: 20px !important;
}
.workCard .card .card-body .card-link {
  display: flex;
  align-items: center;
}
.workCard .card .card-body .card-link svg {
  width: 28px;
  height: 20px;
}
.workCard .card .card-body:hover {
  box-shadow: 0px 20px 48px rgba(10, 25, 49, 0.1);
}

.viewLink {
  font-size: 14px;
  max-width: 0px;
  overflow-x: hidden;
  white-space: nowrap;
  transition: all 0.8s linear;
}

.card:hover .viewLink {
  max-width: 300px;
}

@media screen and (max-width: 900px) {
  .workCard .card {
    min-height: 290px;
  }
  .workCard .card .card-title {
    font-size: 18px;
  }
  .card-link .viewLink {
    font-size: 12px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    transition: none;
    color: #0a1931 !important;
  }
  .card-link svg path {
    stroke: #0a1931 !important;
  }
  .card:hover .viewLink {
    color: #684fff !important;
  }
  .card:hover svg path {
    stroke: #684fff !important;
  }
}
.company .compay-description {
  max-width: 280px;
  font-size: 28px;
}
.company .compay-description .highlight {
  color: #684fff;
  background: linear-gradient(to bottom, white 60%, rgba(104, 79, 255, 0.15) 40%);
}
.company .companyLogo .logo {
  border-radius: 8px;
  width: 140px;
  min-height: 100px;
}
.company .companyLogo .logo:hover {
  background-color: white !important;
  box-shadow: 0px 20px 48px 0px rgba(10, 25, 49, 0.1) !important;
}

@media screen and (max-width: 500px) {
  .company .compay-description {
    font-size: 18px;
  }
  .company .companyLogo .logo {
    width: 100px;
    min-height: 100px;
  }
  .company .companyLogo .logo img {
    width: 70px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.banner {
  background: url("/images/Shapes.png") no-repeat;
  background-size: cover;
  background-color: #0a1931;
  width: 100%;
  border-radius: 8px;
}
.banner .bannerContent {
  padding-inline: 50px;
  font-size: 32px;
}

@media screen and (max-width: 500px) {
  .banner .bannerContent {
    font-size: 20px;
  }
}
.clientList {
  cursor: pointer;
}
.clientList .clientProfile img {
  width: 52px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.clientName {
  font-size: 14px;
}

.clientWork {
  font-size: 12px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border-radius: 0;
  background-color: #dfe3eb !important;
}

.clientDetail .nav-pills .nav-link {
  position: relative;
}
.clientDetail .nav-pills .nav-link::after {
  content: "";
  border: 15px solid transparent;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  border-left-color: #dfe3eb;
  opacity: 0;
  transition: all 0.2s linear;
}
.clientDetail .nav-pills .nav-link.active::after {
  opacity: 1;
}

.review {
  background-color: rgba(223, 227, 235, 0.3);
  padding: 20px;
  height: 100% !important;
}
.review .rating i,
.review .rating .rate {
  font-size: 12px;
}
.review .reviewDescription {
  font-size: 20px;
}

.tab-content {
  height: 100%;
}

.clientDetailMobile {
  display: none;
}
.clientDetailMobile .clientList {
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 5px;
}
.clientDetailMobile .clientList .clientProfile img {
  width: 42px;
  height: 42px;
}
.clientDetailMobile .nav-pills .nav-link.active,
.clientDetailMobile .nav-pills .show > .nav-link {
  background: none !important;
}
.clientDetailMobile .nav-pills .nav-link.active .clientProfile img,
.clientDetailMobile .nav-pills .show > .nav-link .clientProfile img {
  width: 42px;
  height: 42px;
  box-shadow: 5px 5px 5px 0px #dfe3eb;
}

.tab-pane {
  height: 100%;
}

@media screen and (max-width: 900px) {
  .clientList .profileContent {
    max-width: 78px;
  }
  .rating {
    padding-bottom: 10px;
  }
  .rating .quote {
    display: none;
  }
  .review .reviewDescription {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .clientTestimonial .clientDetail {
    display: none !important;
  }
  .clientDetailMobile {
    display: block;
  }
}
.blogContainer {
  background: linear-gradient(to bottom, #dfe3eb, #ffffff);
}
.blogContainer .card {
  height: 100%;
}
.blogContainer .card .card-body {
  display: flex;
  flex-direction: column;
}
.blogContainer .card .card-body .card-text {
  font-size: 12px;
}
.blogContainer .card .card-body .card-title {
  font-size: 20px;
}
.blogContainer .card .card-body .card-link {
  font-size: 14px;
  margin-top: auto;
}
.blogContainer .card .card-body .card-link svg {
  width: 28px;
}
.blogContainer .card:hover {
  box-shadow: 0px 20px 48px 0px rgba(10, 25, 49, 0.1);
}

.cardList .card-title {
  font-size: 20px;
}
.cardList .card-link {
  font-size: 14px;
}
.cardList .card-link svg {
  width: 28px;
}

.cardList:hover {
  background: white;
}

.cardList:hover .readLink {
  max-width: 300px;
}

.readLink {
  font-size: 14px;
  max-width: 0px;
  overflow-x: hidden;
  white-space: nowrap;
  transition: all 0.8s linear;
}

.card:hover .readLink {
  max-width: 300px;
}

@media screen and (max-width: 900px) {
  .blogContainer .card {
    min-height: 300px;
  }
  .blogContainer .card .card-body .card-title {
    font-size: 16px;
  }
  .cardList .card-title {
    font-size: 14px;
  }
  .card-link {
    margin-top: 5px !important;
  }
  .card-link .readLink {
    font-size: 12px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    transition: none;
    color: #0a1931 !important;
  }
  .card-link svg path {
    stroke: #0a1931 !important;
  }
  .card:hover .readLink {
    color: #684fff !important;
  }
  .card:hover svg path {
    stroke: #684fff !important;
  }
}
.contact {
  background: url("/images/footerbg.png") no-repeat;
  background-size: cover;
  position: relative;
}
.contact .dot {
  position: absolute;
  top: 20px;
  right: 20px;
}

.contactContainer form h3 {
  font-size: 30px;
}
.contactContainer form input,
.contactContainer form textarea {
  font-size: 14px;
}
.contactContainer form textarea {
  height: 152px;
}
.contactContainer form button {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
}

.contactLinks a {
  width: 20px;
  height: 20px;
  padding: 20px;
}
.contactLinks a:hover {
  background-color: #684fff;
  color: white;
}

.contactList .location .bgSvg,
.contactList .mail .bgSvg,
.contactList .phone .bgSvg {
  background: #dfe3eb;
  padding: 18px;
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
  .contact .contactContainer .contactForm,
  .contact .contactContainer .contactInfo {
    padding: 20px;
    min-height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .contact .dot {
    display: none;
  }
  .contactForm,
  .contactInfo {
    padding: 15px !important;
  }
  .contactForm h3,
  .contactInfo h3 {
    font-size: 20px;
  }
  .contactContainer form h3 {
    font-size: 20px;
  }
  .contactContainer form input,
  .contactContainer form textarea {
    font-size: 12px;
  }
  .contactContainer form textarea {
    height: 100px;
  }
  .contactContainer form button {
    font-size: 12px;
  }
  .contactLinks a {
    padding: 15px;
  }
  .contactList .location .bgSvg,
  .contactList .mail .bgSvg,
  .contactList .phone .bgSvg {
    padding: 5px;
  }
  .contactDetail {
    font-size: 12px;
  }
}
.text-primary {
  color: #684fff !important;
}

.text-secondary {
  color: #0a1931 !important;
}

.text-tertiary {
  color: #737d8c !important;
}

.bg-primary {
  background-color: #dfe3eb !important;
}

.btn-primary {
  background-color: #684fff !important;
  color: white;
  border-radius: 5px;
  border: none;
}

.btn-primary:hover {
  background: #5033ff !important;
}

.btn-outline-primary {
  color: black;
  border-radius: 5px;
  border: 1px solid #dfe3eb;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  box-sizing: border-box;
}

.bg-color {
  background: linear-gradient(to right, white 65%, #dfe3eb 35%);
}

.container {
  padding-inline: 50px !important;
}

h2 {
  font-size: 40px;
  padding: 10px;
  position: relative;
}

h2::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 3px;
  background-color: #684fff;
}

nav .menuBar {
  display: none;
}
nav .menuBar .navIcon {
  background: none !important;
}

.sideBar {
  box-shadow: 5px 15px 5px rgba(223, 227, 235, 0.3) !important;
  min-width: 100px;
}
.sideBar li {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
}

.link-list li a {
  color: #0a1931;
}

.link-list .nav-link:focus,
.link-list .nav-link:hover {
  color: #684fff;
}

.home {
  min-height: 600px;
  z-index: 2;
}
.home .homeContent {
  margin-top: 90px;
  position: relative;
}
.home .homeContent .intro-text {
  font-size: 70px;
  max-width: 730px;
}
.home .homeContent .intro-text .highlight {
  background: linear-gradient(to bottom, white 60%, rgba(104, 79, 255, 0.15) 40%);
}
.home .homeContent .intro-description {
  max-width: 500px;
}
.home .profileImg {
  width: 460px;
  position: relative;
}
.home .homeFooter {
  margin-top: 100px !important;
}
.home .homeFooter .fa-brands {
  min-width: 30px;
}
.home .viewBtn:hover {
  background-color: #5033ff;
  color: white;
}

.followLinks a {
  width: 48px;
  height: 48px;
}
.followLinks a:hover {
  background-color: #684fff;
}
.followLinks a:hover i {
  color: white;
}

.dotCol {
  position: absolute;
  top: 250px;
  right: 200px;
  z-index: 1;
}

.footer {
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .container {
    padding-inline: 20px !important;
  }
  nav .links {
    display: none;
  }
  nav .menuBar {
    display: block;
    font-size: 20px;
  }
  .home .homeContent .intro-text .highlight {
    background: none;
  }
  .home .profileImg {
    display: none;
  }
  .dotCol {
    display: none;
  }
  .sidebar {
    background-color: #f2f3f5;
  }
}
@media screen and (max-width: 500px) {
  h2 {
    font-size: 24px;
  }
  .bg-color {
    background: none;
  }
  .menuBar ul li a:active {
    background-color: #dfe3eb;
    color: #0a1931;
  }
  .home {
    min-height: 500px;
  }
  .home .homeContent {
    margin-top: 30px;
  }
  .home .homeContent .intro-text {
    font-size: 30px;
  }
  .dotCol {
    display: none;
  }
  .footer {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */