@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import '../abstracts/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

body {
  font-family: $font-primary;
  line-height: 1.5;
  color: $text-color;
  background-color: $body-bg;
}