.circle {
    --size: 180px;
    --percentage: 90;
    --thickness: 26px;
    --value: calc(var(--percentage) * 1deg * 3.6);

    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: conic-gradient($blue var(--value), #ebecff 0deg);
    position: relative;
    @include flexProperty(center, row, center);
    font-weight: bold;
    color: hsla(237, 10%, 41%, 1);
    font-size: 1rem;

    &::before {
        content: "";
        position: absolute;
        width: calc(var(--size) - var(--thickness) * 2);
        height: calc(var(--size) - var(--thickness) * 2);
        background: white; // or match your background
        border-radius: 50%;
        z-index: 1;
    }
    span {
        position: relative;
        z-index: 2;
        font-size: 17px;
    }
}
