.banner{
    background: url("/images/Shapes.png") no-repeat;
    background-size: cover;
    background-color: $dark-gray;
    width: 100%;
    border-radius: 8px;
    .bannerContent{
        padding-inline: 50px;
        font-size: 32px;
    }
}
@media screen and (max-width:500px){
    .banner{
        .bannerContent{
            font-size: 20px;
        }
    }
}