.work{
    padding-block: 50px;
}
.workCard{
    .card{
        min-height:380px ;
        .card-body .card-title{
            font-size: 20px !important;
        }
        .card-body .card-link svg{
            width: 28px;
            height: 20px;
        }
        &:hover{
            box-shadow: 0px 20px 48px rgba(10, 25, 49, 0.1);
        }
    }
    
}

.viewLink{
    display: none;
    font-size: 14px;
}
.card:hover .viewLink{
    display: block;
}
@media screen and (max-width:900px){
    .workCard{
        .card{
            min-height:290px ;
            .card-title{
                font-size: 18px;
            }
        }
    }
}