@mixin section-heading {
    font-size: 2.5rem;
    font-weight: 600;
    color: $primary-color;
}

//linear gradient text
@mixin linear-text {
    background: linear-gradient(165deg, #b224ef 30%, #7579FF 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	background-clip: text;
	color: transparent;
}

//linear text on cards
@mixin card-subtext {
    background: rgba(95, 96, 115, 1);
;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	background-clip: text;
	color: transparent;
}