//colors
$primary-color: #5e17eb;
$secondary-color: #eee;
$body-bg: #f9f9f9;
$bg-light: #f8f7ff;

//font
$font-primary: 'Poppins', sans-serif;

//text-color
$text-color: #333;
$text-secondary: #555;


//border-radius
$radius-sm: 0.75rem;
$radius-md: 1.25rem;


//loader-cricle-size
$circle-size: 120px;
$inner-cirlce-size: 90px;
$gap: 2rem;
