@import "./utils/color";
@import "./component/nav";
@import "./component/scrollBanner";
@import "./component/home";
@import "./component/intelligence";
@import "./component/youtube";
@import "./component/scipValue";
@import "./component/event";
@import "./component/icoe";
@import "./component/affiliate";
@import "./component/speed";
@import "./component/smart";
@import "./component/excellence";
@import "./component/tool";
@import "./component/signUp";
@import "./component/footer";

.bg-primary {
  background-color: $black !important;
}
.bg-secondary {
  background-color: rgba(185, 185, 185, 0.4) !important;
}

.text-primary {
  background: $primary-gradient !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  width: fit-content !important;
}
.text-secondary {
  color: $grey-white !important;
}
.text-terinary {
  color: $black;
}
.text-success {
  color: $action-color;
}
.text-light {
  color: $grey-white;
}

.btn-primary {
  background: $grey-white !important;
  width: fit-content !important;
  height: fit-content !important;
  // position: absolute;
  border-radius: 20px !important;
  padding-block: 10px !important;
  padding-inline: 20px !important;
  position: relative;
  overflow: hidden;
  button {
    border-radius: 20px;
    .btnName {
      position: relative;
      z-index: 3;
    }
    i {
      background: $action-color;
      border-radius: 50%;
      position: relative;
      font-size: 16px;
      overflow: hidden;
      z-index: 3;
    }
    &::before {
      content: "";
      position: absolute;
      // top: 50%;
      right: -65%;
      width: 170%;
      height: 100%;
      background-color: $action-color;
      z-index: 0;
      clip-path: circle(0% at 50% 50%);
      transition: all 2s linear;
    }
    &:hover::before {
      clip-path: circle(200% at 50% 50%);
    }
  }
}

// * {
//   outline: 1px solid red;
// }
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  // width: 100%;
  // overflow: hidden;
}
.bg {
  background: url("/image/Scip\ video\ trimmed\ 1.png") no-repeat,
    rgba(12, 12, 13, 1);
  object-fit: cover;
  // height: 100vh;
  // width: 100%;
  padding-top: 110px;
}
.homebgVideo {
  padding-top: 110px;
  width: 100%;
  z-index: 0;
  position: absolute;
  padding: 10px;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(12, 12, 13, 1),
        rgba(12, 12, 13, 0)
      ),
      rgba(12, 12, 13, 0.6);

    z-index: 1;
  }
  .homebg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
}

.title {
  font-size: 54px;
  font-weight: 700;
  line-height: 120%;
  background: $primary-gradient !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  width: fit-content !important;
}

.memberButton {
  background-color: $grey-white;
  width: fit-content;
  position: fixed;
  border-radius: 20px;
  padding: 5px;
  button {
    border-radius: 20px;
    .btnName {
      font-size: 20px;
    }
    i {
      background: $action-color;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 38px !important;
  }
  .bg {
    padding-top: 70px;
  }
  .btn-primary {
    padding-block: 5px !important;
    padding-inline: 15px !important;
    button {
      .btnName {
        font-size: 20px !important;
      }
      i {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-inline: 20px !important;
  }
  .title {
    font-size: 26px !important;
  }
  .btn-primary {
    padding-block: 5px !important;
    padding-inline: 5px !important;
    button {
      .btnName {
        font-size: 12px !important;
      }
      i {
        font-size: 12px;
      }
    }
  }
}
